# Dataset 3 Cleaning

### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Loading data

In [2]:
df_raw = pd.read_csv("D:/Code/Projects/Used_Car_Price/Dataset/Extra/used_cars_data_2.csv")
df_raw

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

### EDA

In [3]:
# Keeping only required columns
df = df_raw[['Name', 'Year', 'Kilometers_Driven', 'Transmission', 'Owner_Type', 'Fuel_Type', 'Price']].copy()

# Renaming the columns
df.columns = ['Brand & Model', 'Year', 'KmDriven', 'Transmission', 'Owner', 'FuelType', 'Price']

In [4]:
df

,Brand & Model,Year,KmDriven,Transmission,Owner,FuelType,Price
0,Maruti Wagon R LXI CNG,2010,72000,Manual,First,CNG,1.75
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Manual,First,Diesel,12.50
2,Honda Jazz V,2011,46000,Manual,First,Petrol,4.50
3,Maruti Ertiga VDI,2012,87000,Manual,First,Diesel,6.00
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,Automatic,Second,Diesel,17.74
...,...,...,...,...,...,...,...
7248,Volkswagen Vento Diesel Trendline,2011,89411,Manual,First,Diesel,NaN
7249,Volkswagen Polo GT TSI,2015,59000,Automatic,First,Petrol,NaN
7250,Nissan Micra Diesel XV,2012,28000,Manual,First,Diesel,NaN
7251,Volkswagen Polo GT TSI,2013,52262,Automatic,Third,Petrol,NaN
7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,2014,72443,Automatic,First,Diesel,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand & Model  7253 non-null   object
 1   Year           7253 non-null   int64
 2   KmDriven       7253 non-null   int64
 3   Transmission   7253 non-null   object
 4   Owner          7253 non-null   object
 5   FuelType       7253 non-null   object
 6   Price          6019 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 396.8+ KB

In [6]:
df.describe()

              Year      KmDriven        Price
count  7253.000000  7.253000e+03  6019.000000
mean   2013.365366  5.869906e+04     9.479468
std       3.254421  8.442772e+04    11.187917
min    1996.000000  1.710000e+02     0.440000
25%    2011.000000  3.400000e+04     3.500000
50%    2014.000000  5.341600e+04     5.640000
75%    2016.000000  7.300000e+04     9.950000
max    2019.000000  6.500000e+06   160.000000

In [7]:
df.isna().sum()

Brand & Model       0
Year                0
KmDriven            0
Transmission        0
Owner               0
FuelType            0
Price            1234
dtype: int64

In [8]:
df.dropna(axis=0, inplace=True)

In [9]:
df.isna().sum()

Brand & Model    0
Year             0
KmDriven         0
Transmission     0
Owner            0
FuelType         0
Price            0
dtype: int64

In [10]:
# Changing the price format from 1.35L to 135000
df['Price'] = df['Price']*100000
# Convert to float
df['Price'] = df['Price'].astype(float)

In [11]:
df

,Brand & Model,Year,KmDriven,Transmission,Owner,FuelType,Price
0,Maruti Wagon R LXI CNG,2010,72000,Manual,First,CNG,175000.0
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Manual,First,Diesel,1250000.0
2,Honda Jazz V,2011,46000,Manual,First,Petrol,450000.0
3,Maruti Ertiga VDI,2012,87000,Manual,First,Diesel,600000.0
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,Automatic,Second,Diesel,1774000.0
...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,Manual,First,Diesel,475000.0
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,Manual,First,Diesel,400000.0
6016,Mahindra Xylo D4 BSIV,2012,55000,Manual,Second,Diesel,290000.0
6017,Maruti Wagon R VXI,2013,46000,Manual,First,Petrol,265000.0
6018,Chevrolet Beat Diesel,2011,47000,Manual,First,Diesel,250000.0

#### Splitting the Brand & Model column into seperate Brand and Model columns

In [12]:
Brands = ['Mercedes-Benz', 'Force', 'ISUZU', 'Maruti', 'Smart', 'Land', 'Bentley', 'Tata', 'BMW', 'Hyundai', 'Mahindra', 'Audi', 'Isuzu', 'Renault', 'Rolls-Royce', 'Force Motors', 'Opel', 'Maruti Suzuki', 'Bajaj', 'Fiat', 'Chevrolet', 'Nissan', 'Maserati', 'Mini', 'Land Rover', 'Skoda', 'Aston Martin', 'Honda', 'Datsun', 'Ashok', 'Volkswagen', 'Jeep', 'Ssangyong', 'MG', 'Lexus', 'Mitsubishi', 'Jaguar', 'Toyota', 'Kia', 'Mercedes-Benz', 'Ford', 'Lamborghini', 'Porsche', 'Volvo', 'Ambassador']

In [13]:
Models = ['Vitara Brezza', 'WR-V', 'Versa', 'One', 'KUV 100', 'KWID', 'TUV 300', 'Dzire', 'A Class', 'BR-V', 'EcoSport', 'NuvoSport', 'CR-V', 'S Class', 'B Class', 'D-MAX', 'Xylo', 'Wagon R', 'S Cross', 'EON', 'GLA', 'Quanto', 'Swift', 'Land Cruiser', 'Verito', 'Altroz', 'Invicto', 'Estima', 'Santa Fe', 'Petra', 'Vellfire', 'GL-Class', 'Aveo', 'Fusion', 'Grande', 'Spark', 'Rapid', 'Cayenne', 'E-Class', 'Manza', 'Nano', 'Rexton', 'Yeti', 'Force One', 'Sail U-VA', 'GO', 'XUV300', '3 Series', 'TUV300', 'City', 'Q3', 'Carens', 'Ertiga', 'C-Class', 'Corolla Altis', 'Outlander', '1 Series', 'Cayman', 'A7', 'Punch', 'Eeco', 'RE60', 'WRV', 'CLS', 'Alcazar', 'Fabia', 'Go', 'X-Trail', 'Fronx ', 'Curvv', 'Venture', 'A4', 'Urban Cruiser Hyryder', 'Slavia', 'Micra', 'Classic', 'Sail', 'CLA', 'Lancer', 'ES', 'Fortuner', 'Tiguan', 'Scala', 'Celerio', 'Sumo', 'Octavia', 'Urvan', 'M-Class', 'Innova', 'Gloster', 'XUV700', 'Triber', 'Xenon', 'SL-Class', 'X3', 'Beat', 'Harrier', 'XC60', 'Kicks', 'RX', 'SLK-Class', 'Indica', 'XF', 'Cooper Countryman', 'Elevate', 'Cooper 3', 'A6', 'Corolla', 'A-Star', 'Xylo', 'Sumo Grande', 'Pajero', 'i20', 'Cruze', 'Exter', 'AMG', 'Alto', 'Safari Storme', 'X1', 'Enjoy', 'GO Plus', 'Optra', 'Zest', 'Jimny', 'Glanza', 'E-20', 'Ciaz', 'Esteem', 'Fronx', '7 Series', 'CRV', 'AMG A35', 'Vento', 'Mobilio', 'NX', 'LX', 'Range Rover Evoque', 'Fluence', 'Cooper Clubman', 'Discovery', 'XC90', 'Jetta', 'Captur', 'Aura', 'LS', 'Phantom Drop HeadCoupe', 'Leyland Stile', 'Linea', 'Santro', '1000', 'Laura', 'X4', 'Magnite', 'Amaze', 'R-Class', 'Mustang', 'Cerato', 'Ambassador', 'Evalia', 'Creta', 'Tigor', 'Aspire', 'XE', 'Yaris', 'Bolt', 'Jeep', 'S-Cross', 'Passat', 'X7', 'Venue', 'S90', 'Defender', 'V40', 'TT', 'Avventura', 'Panamera', 'Estilo', 'Ritz', 'Alturas G4', 'Qualis', 'Bolero', 'Cooper', 'S-Presso', '6 Series', 'X5', 'Marshal', 'S80', 'Teana', 'Corsa', 'Taigun', 'Fortwo', 'GLE', 'Etios Liva', 'Boxster', 'Verna', 'SX4', 'GLC', 'Scorpio', 'Trax Cruiser', 'Free Style', 'Gran Turismo', 'Macan', 'Redi GO', 'Captiva', 'Q7', 'Punch ', 'XUV500', 'i10', 'Sonet', 'Hexa', 'Logan', 'Patrol', 'X6', 'Trailblazer', 'Hector', 'Continental', 'Gallardo', 'Zen', 'XL6', 'V-Class', 'Freestyle', 'AMG C43', 'Flying Spur', 'Carnival', 'Accent', 'Etios', 'XJ', 'Range Rover Velar', 'Civic', 'Zen-Estilo', 'Tiago', 'Compass', 'Gurkha', 'A3', 'Lodgy', 'Pulse', 'A-Class', 'G-Class', 'Kiger', 'Beetle', 'Indigo', 'Virtus', '718 Boxster', 'Elite', 'Endeavour', '2 Series', 'Nexon', 'Fiesta', 'Xcent', 'Terrano', 'Seltos', 'Range Rover', 'KUV100', 'Q5', 'Kwid', 'Ikon', 'Polo', 'Safari', 'Elantra', 'BRV', 'Gypsy', 'Sunny', 'Rover', 'Cooper 5', 'Omni', 'XC40', 'Nuvosport', 'Camry', 'Jazz', 'RS5', 'Cooper S', 'Ecosport', 'S60', 'Cooper Convertible', 'Phantom Series II', 'Duster', 'Innova Hycross', 'Punto', 'Sonata', 'Brio', 'A8', 'Vitara-Brezza', 'Thar', '800', 'Wrangler', 'Superb', 'Baleno', '5 Series', 'Marazzo', 'Ignis', 'Grand Vitara', 'MUX', 'Tavera', 'Freelander 2', 'Innova Crysta', 'Kushaq', 'Getz', 'Urban Cross', 'S-Class', 'Wagon-R', 'Tucson', 'Kodiaq', 'B-Class', 'Koleos', 'Ameo', 'Astor', 'Siena', 'Figo', 'D-Max', 'Accord', 'Hi-Lander', 'GLS', 'Swift Dzire', 'A5', 'Etios Cross', 'Eon', 'Cedia', 'Montero', 'Vanquish', 'Meridian', 'Z4', 'F']

In [14]:
# Function to extract Brand and Model
def extract_brand_model(car):
    for brand in Brands:
        if brand in car:
            # Extract the model by removing the brand name
            model_part = car.replace(brand, '').strip()
            # Check if the remaining part contains a valid model
            for model in Models:
                if model in model_part:
                    return brand, model.strip()
    return None, None

In [15]:
# Apply the function to create new columns
df[['Brand', 'Model']] = df['Brand & Model'].apply(lambda x: pd.Series(extract_brand_model(x)))

In [16]:
df

,Brand & Model,Year,KmDriven,Transmission,Owner,FuelType,Price,Brand,Model
0,Maruti Wagon R LXI CNG,2010,72000,Manual,First,CNG,175000.0,Maruti,Wagon R
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Manual,First,Diesel,1250000.0,Hyundai,Creta
2,Honda Jazz V,2011,46000,Manual,First,Petrol,450000.0,Honda,Jazz
3,Maruti Ertiga VDI,2012,87000,Manual,First,Diesel,600000.0,Maruti,Ertiga
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,Automatic,Second,Diesel,1774000.0,Audi,A4
...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,Manual,First,Diesel,475000.0,Maruti,Swift
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,Manual,First,Diesel,400000.0,Hyundai,Xcent
6016,Mahindra Xylo D4 BSIV,2012,55000,Manual,Second,Diesel,290000.0,Mahindra,Xylo
6017,Maruti Wagon R VXI,2013,46000,Manual,First,Petrol,265000.0,Maruti,Wagon R
6018,Chevrolet Beat Diesel,2011,47000,Manual,First,Diesel,250000.0,Chevrolet,Beat

In [17]:
df.isna().sum()

Brand & Model    0
Year             0
KmDriven         0
Transmission     0
Owner            0
FuelType         0
Price            0
Brand            0
Model            0
dtype: int64

In [18]:
# Create a DataFrame for unmatched rows
unmatched = df[(df['Brand'].isnull()) | (df['Model'].isnull())]
unmatched

Empty DataFrame
Columns: [Brand & Model, Year, KmDriven, Transmission, Owner, FuelType, Price, Brand, Model]
Index: []

###### Made changes in the Brand and Model list above and kept repeating (We will clean the name formats after this)

In [19]:
from datetime import datetime

# Get the current month and year
current_month = datetime.today().month
current_year = datetime.today().year

# Calculate the age of the car in months
df['Age'] = (current_year - df['Year']) * 12 + (current_month)

In [20]:
# Keeping only necessary columns

df = df [['Brand', 'Model', 'Age', 'KmDriven', 'Transmission', 'Owner', 'FuelType', 'Price']]

In [21]:
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Maruti,Wagon R,182,72000,Manual,First,CNG,175000.0
1,Hyundai,Creta,122,41000,Manual,First,Diesel,1250000.0
2,Honda,Jazz,170,46000,Manual,First,Petrol,450000.0
3,Maruti,Ertiga,158,87000,Manual,First,Diesel,600000.0
4,Audi,A4,146,40670,Automatic,Second,Diesel,1774000.0
...,...,...,...,...,...,...,...,...
6014,Maruti,Swift,134,27365,Manual,First,Diesel,475000.0
6015,Hyundai,Xcent,122,100000,Manual,First,Diesel,400000.0
6016,Mahindra,Xylo,158,55000,Manual,Second,Diesel,290000.0
6017,Maruti,Wagon R,146,46000,Manual,First,Petrol,265000.0
6018,Chevrolet,Beat,170,47000,Manual,First,Diesel,250000.0

In [22]:
df['Owner'] = df['Owner'].str.lower()

In [23]:
df.head()

     Brand    Model  Age  KmDriven Transmission   Owner FuelType      Price
0   Maruti  Wagon R  182     72000       Manual   first      CNG   175000.0
1  Hyundai    Creta  122     41000       Manual   first   Diesel  1250000.0
2    Honda     Jazz  170     46000       Manual   first   Petrol   450000.0
3   Maruti   Ertiga  158     87000       Manual   first   Diesel   600000.0
4     Audi       A4  146     40670    Automatic  second   Diesel  1774000.0

In [24]:
df.duplicated().sum()

np.int64(8)

In [25]:
# Dropping duplicate values

df = df.drop_duplicates()
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Maruti,Wagon R,182,72000,Manual,first,CNG,175000.0
1,Hyundai,Creta,122,41000,Manual,first,Diesel,1250000.0
2,Honda,Jazz,170,46000,Manual,first,Petrol,450000.0
3,Maruti,Ertiga,158,87000,Manual,first,Diesel,600000.0
4,Audi,A4,146,40670,Automatic,second,Diesel,1774000.0
...,...,...,...,...,...,...,...,...
6014,Maruti,Swift,134,27365,Manual,first,Diesel,475000.0
6015,Hyundai,Xcent,122,100000,Manual,first,Diesel,400000.0
6016,Mahindra,Xylo,158,55000,Manual,second,Diesel,290000.0
6017,Maruti,Wagon R,146,46000,Manual,first,Petrol,265000.0
6018,Chevrolet,Beat,170,47000,Manual,first,Diesel,250000.0

#### Correcting the names of different models

In [26]:
df['Brand'].unique()

array(['Maruti', 'Hyundai', 'Honda', 'Audi', 'Nissan', 'Toyota',
       'Volkswagen', 'Tata', 'Land', 'Mitsubishi', 'Renault',
       'Mercedes-Benz', 'BMW', 'Mahindra', 'Ford', 'Porsche', 'Datsun',
       'Jaguar', 'Volvo', 'Chevrolet', 'Skoda', 'Mini', 'Fiat', 'Jeep',
       'Smart', 'Ambassador', 'Isuzu', 'ISUZU', 'Force', 'Bentley',
       'Lamborghini'], dtype=object)

In [27]:
df['Brand'].nunique()

31

##### 1. Lamborghini

In [28]:
df[df['Brand'] == 'Lamborghini']['Model'].unique()

array(['Gallardo'], dtype=object)

##### 2. Honda

In [29]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['Jazz', 'City', 'Amaze', 'WRV', 'Brio', 'Civic', 'CR-V', 'Accord',
       'BRV', 'BR-V', 'Mobilio', 'WR-V'], dtype=object)

In [30]:
df.replace('BR-V', 'BRV', inplace=True)
df.replace('WR-V', 'WRV', inplace=True)
df.replace('CR-V', 'CRV', inplace=True)

In [31]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['Jazz', 'City', 'Amaze', 'WRV', 'Brio', 'Civic', 'CRV', 'Accord',
       'BRV', 'Mobilio'], dtype=object)

##### 3. Tata

In [32]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Indica', 'Nano', 'Zest', 'LX', 'Sumo', 'LS', 'Manza', 'Xenon',
       'Safari Storme', 'Indigo', 'Safari', 'GLE', 'Hexa', 'Tiago',
       'Tigor', 'XE', 'Bolt', 'Venture', 'Nexon', 'Classic', 'X4'],
      dtype=object)

In [33]:
# X4 is a car from BMW not Tata
df.loc[df['Model'] == 'X4', 'Brand'] = 'BMW'
df.loc[df['Model'] == 'GLE', 'Brand'] = 'Mercedes-Benz'
df.loc[df['Model'] == 'LX', 'Brand'] = 'Lexus'
df.loc[df['Model'] == 'LS', 'Brand'] = 'Lexus'
df.loc[df['Model'] == 'XE', 'Brand'] = 'Jaguar'
df.loc[df['Model'] == 'Classic', 'Brand'] = 'Ambassador'

df.replace('Safari Storme', 'Safari', inplace=True)

In [34]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Indica', 'Nano', 'Zest', 'Sumo', 'Manza', 'Xenon', 'Safari',
       'Indigo', 'Hexa', 'Tiago', 'Tigor', 'Bolt', 'Venture', 'Nexon'],
      dtype=object)

##### 4. Maruti Suzuki

In [35]:
df.replace('Maruti', 'Maruti Suzuki', inplace=True)

In [36]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['Wagon R', 'Ertiga', 'Ciaz', 'Swift', 'S Cross', 'Alto',
       'Vitara Brezza', 'Estilo', 'Ritz', 'Omni', 'Eeco', 'Baleno', 'GO',
       'A-Star', 'Zen', 'Dzire', 'Celerio', '800', 'S-Cross', 'Esteem',
       'Ignis', 'Grand Vitara', '1000', 'Versa'], dtype=object)

In [37]:
df.loc[df['Model'] == 'GO', 'Brand'] = 'Datsun'

df.replace('Wagon R', 'WagonR', inplace=True)
df.replace('Wagon-R', 'WagonR', inplace=True)
df.replace('S Cross', 'S-Cross', inplace=True)
df.replace('Vitara Brezza', 'Vitara-Brezza', inplace=True)
df.replace('Estilo', 'Zen-Estilo', inplace=True)
df.replace('Dzire', 'Swift Dzire', inplace=True)
df.replace('Versa', 'Eeco', inplace=True)

In [38]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['WagonR', 'Ertiga', 'Ciaz', 'Swift', 'S-Cross', 'Alto',
       'Vitara-Brezza', 'Zen-Estilo', 'Ritz', 'Omni', 'Eeco', 'Baleno',
       'A-Star', 'Zen', 'Swift Dzire', 'Celerio', '800', 'Esteem',
       'Ignis', 'Grand Vitara', '1000'], dtype=object)

##### 5. Toyota

In [39]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Innova', 'Corolla Altis', 'Fortuner', 'Etios Liva', 'Corolla',
       'Etios', 'Camry', 'Qualis', 'Z4'], dtype=object)

In [40]:
df.loc[df['Model'] == 'Z4', 'Brand'] = 'BMW'

df.replace('Corolla Altis', 'Corolla', inplace=True)

In [41]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Innova', 'Corolla', 'Fortuner', 'Etios Liva', 'Etios', 'Camry',
       'Qualis'], dtype=object)

##### 6. Volkswagen

In [42]:
df[df['Brand'] == 'Volkswagen']['Model'].unique()

array(['Vento', 'Polo', 'Jetta', 'Passat', 'Ameo', 'Beetle', 'Tiguan'],
      dtype=object)

##### 7. BMW

In [43]:
df.replace('Bmw', 'BMW', inplace=True)

In [44]:
df[df['Brand'] == 'BMW']['Model'].unique()

array(['3 Series', '5 Series', '1 Series', 'X5', 'X1', 'X3', '6 Series',
       'X4', '7 Series', 'X6', 'Z4'], dtype=object)

##### 8. Ford

In [45]:
df[df['Brand'] == 'Ford']['Model'].unique()

array(['Figo', 'Fiesta', 'Ecosport', 'EcoSport', 'Endeavour', 'NX',
       'Ikon', 'Aspire', 'Freestyle', 'Mustang', 'Fusion'], dtype=object)

In [46]:
df.loc[df['Model'] == 'NX', 'Brand'] = 'Lexus'

df.replace('EcoSport', 'Ecosport', inplace=True)

In [47]:
df[df['Brand'] == 'Ford']['Model'].unique()

array(['Figo', 'Fiesta', 'Ecosport', 'Endeavour', 'Ikon', 'Aspire',
       'Freestyle', 'Mustang', 'Fusion'], dtype=object)

##### 9. Mercedes-Benz

In [48]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['C-Class', 'M-Class', 'B Class', 'AMG', 'S Class', 'GLC',
       'E-Class', 'GLE', 'A Class', 'GL-Class', 'SLK-Class', 'CLA',
       'R-Class', 'CLS', 'S-Class', 'SL-Class'], dtype=object)

In [49]:
df.replace('B Class', 'B-Class', inplace=True)
df.replace('S Class', 'S-Class', inplace=True)
df.replace('A Class', 'A-Class', inplace=True)

In [50]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['C-Class', 'M-Class', 'B-Class', 'AMG', 'S-Class', 'GLC',
       'E-Class', 'GLE', 'A-Class', 'GL-Class', 'SLK-Class', 'CLA',
       'R-Class', 'CLS', 'SL-Class'], dtype=object)

##### 10. Hyundai

In [51]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Creta', 'EON', 'i20', 'Elantra', 'Xcent', 'i10', 'Santro',
       'Verna', 'Santa Fe', 'Accent', 'Getz', 'Sonata', 'Tucson'],
      dtype=object)

In [52]:
df.replace('EON', 'Eon', inplace=True)
df.replace('Santa', 'Santa Fe', inplace=True)

In [53]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Creta', 'Eon', 'i20', 'Elantra', 'Xcent', 'i10', 'Santro',
       'Verna', 'Santa Fe', 'Accent', 'Getz', 'Sonata', 'Tucson'],
      dtype=object)

##### 11. Audi

In [54]:
df[df['Brand'] == 'Audi']['Model'].unique()

array(['A4', 'A6', 'RS5', 'Q3', 'A8', 'Q7', 'A3', 'Q5', 'TT', 'A7'],
      dtype=object)

##### 12. Volvo

In [55]:
df[df['Brand'] == 'Volvo']['Model'].unique()

array(['V40', 'S80', 'XC60', 'S60', 'XC90'], dtype=object)

##### 13. Skoda

In [56]:
df[df['Brand'] == 'Skoda']['Model'].unique()

array(['Rapid', 'Superb', 'Laura', 'Fabia', 'Octavia', 'Yeti'],
      dtype=object)

##### 14. Mahindra

In [57]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['Rexton', 'KUV 100', 'Thar', 'XUV500', 'Scorpio', 'NuvoSport',
       'Verito', 'Logan', 'Quanto', 'Xylo', 'Bolero', 'XUV300', 'TUV 300',
       'Jeep'], dtype=object)

In [58]:
df.loc[df['Model'] == 'Rexton', 'Brand'] = 'Ssangyong'
df.loc[df['Model'] == 'Logan', 'Brand'] = 'Renault'

df.replace('NuvoSport', 'Nuvosport', inplace=True)
df.replace('KUV 100', 'KUV100', inplace=True)
df.replace('TUV 300', 'TUV300', inplace=True)

In [59]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['KUV100', 'Thar', 'XUV500', 'Scorpio', 'Nuvosport', 'Verito',
       'Quanto', 'Xylo', 'Bolero', 'XUV300', 'TUV300', 'Jeep'],
      dtype=object)

##### 15. Renault

In [60]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['Duster', 'KWID', 'Lodgy', 'RX', 'Logan', 'Koleos', 'Captur',
       'Scala', 'Pulse', 'Fluence'], dtype=object)

In [61]:
df.loc[df['Model'] == 'RX', 'Brand'] = 'Lexus'

df.replace('KWID', 'Kwid', inplace=True)

In [62]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['Duster', 'Kwid', 'Lodgy', 'Logan', 'Koleos', 'Captur', 'Scala',
       'Pulse', 'Fluence'], dtype=object)

##### 16. Ssangyong

In [63]:
df[df['Brand'] == 'Ssangyong']['Model'].unique()

array(['Rexton'], dtype=object)

##### 17. Mini

In [64]:
df[df['Brand'] == 'Mini']['Model'].unique()

array(['Cooper', 'Cooper Countryman', 'Cooper 3'], dtype=object)

##### 18. Chevrolet

In [65]:
df[df['Brand'] == 'Chevrolet']['Model'].unique()

array(['Beat', 'Optra', 'Spark', 'Enjoy', 'Sail', 'Aveo', 'Cruze',
       'Captiva', 'Tavera'], dtype=object)

##### 19. Jaguar

In [66]:
df[df['Brand'] == 'Jaguar']['Model'].unique()

array(['XF', 'XE', 'XJ', 'F'], dtype=object)

##### 20. Fiat

In [67]:
df[df['Brand'] == 'Fiat']['Model'].unique()

array(['Grande', 'Linea', 'Avventura', 'Petra', 'Punto'], dtype=object)

In [68]:
df.replace('Grande', 'Punto', inplace=True)

In [69]:
df[df['Brand'] == 'Fiat']['Model'].unique()

array(['Punto', 'Linea', 'Avventura', 'Petra'], dtype=object)

##### 21. Porsche

In [70]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['Cayenne', 'Cayman', 'Boxster', 'Panamera'], dtype=object)

In [71]:
df.replace('Boxster', '718 Boxster', inplace=True)

In [72]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['Cayenne', 'Cayman', '718 Boxster', 'Panamera'], dtype=object)

##### 22. Nissan

In [73]:
df[df['Brand'] == 'Nissan']['Model'].unique()

array(['Micra', 'X-Trail', 'Terrano', 'Teana', 'Sunny', 'Evalia'],
      dtype=object)

##### 23. Force Motors

In [74]:
df.replace('Force', 'Force Motors', inplace=True)

In [75]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['One'], dtype=object)

In [76]:
df.replace('One', 'Force One', inplace=True)

In [77]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['Force One'], dtype=object)

##### 24. Mitsubishi

In [78]:
df[df['Brand'] == 'Mitsubishi']['Model'].unique()

array(['Pajero', 'Cedia', 'Outlander', 'Lancer'], dtype=object)

##### 25. Isuzu

In [79]:
df.replace('ISUZU', 'Isuzu', inplace=True)

In [80]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['MUX', 'D-MAX'], dtype=object)

In [81]:
df.replace('D-MAX', 'D-Max', inplace=True)

In [82]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['MUX', 'D-Max'], dtype=object)

##### 26.Datsun

In [83]:
df[df['Brand'] == 'Datsun']['Model'].unique()

array(['GO'], dtype=object)

##### 27. Ambassador

In [84]:
df[df['Brand'] == 'Ambassador']['Model'].unique()

array(['Classic'], dtype=object)

##### 28. Bentley

In [85]:
df[df['Brand'] == 'Bentley']['Model'].unique()

array(['Continental'], dtype=object)

##### 29. Smart

In [86]:
df[df['Brand'] == 'Smart']['Model'].unique()

array(['Fortwo'], dtype=object)

##### 30. Land Rover

In [87]:
df.replace('Land', 'Land Rover', inplace=True)

In [88]:
df[df['Brand'] == 'Land Rover']['Model'].unique()

array(['Range Rover', 'Rover', 'Range Rover Evoque', 'Discovery'],
      dtype=object)

In [89]:
df.replace('Rover', 'Range Rover', inplace=True)

In [90]:
df[df['Brand'] == 'Land Rover']['Model'].unique()

array(['Range Rover', 'Range Rover Evoque', 'Discovery'], dtype=object)

##### 31. Lexus

In [91]:
df[df['Brand'] == 'Lexus']['Model'].unique()

array(['LX', 'LS', 'RX', 'NX'], dtype=object)

##### 32. Jeep

In [92]:
df[df['Brand'] == 'Jeep']['Model'].unique()

array(['Compass'], dtype=object)

#### Saving the cleaned dataset for further use

In [93]:
df.shape

(6011, 8)

In [94]:
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Maruti Suzuki,WagonR,182,72000,Manual,first,CNG,175000.0
1,Hyundai,Creta,122,41000,Manual,first,Diesel,1250000.0
2,Honda,Jazz,170,46000,Manual,first,Petrol,450000.0
3,Maruti Suzuki,Ertiga,158,87000,Manual,first,Diesel,600000.0
4,Audi,A4,146,40670,Automatic,second,Diesel,1774000.0
...,...,...,...,...,...,...,...,...
6014,Maruti Suzuki,Swift,134,27365,Manual,first,Diesel,475000.0
6015,Hyundai,Xcent,122,100000,Manual,first,Diesel,400000.0
6016,Mahindra,Xylo,158,55000,Manual,second,Diesel,290000.0
6017,Maruti Suzuki,WagonR,146,46000,Manual,first,Petrol,265000.0
6018,Chevrolet,Beat,170,47000,Manual,first,Diesel,250000.0

In [95]:
df.to_csv('../Dataset/Used_Car_Df3.csv', index=False)