# Used Car Price Prediction

### Importing required libraries

In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Loading data

In [67]:
df = pd.read_csv("D:/Code/Projects/Used_Car_Price/Dataset/used_car_dataset.csv")
df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,"105,904 km",Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel","₹ 10,40,000"
9578,Maruti Suzuki,Alto-800,2020,4,"55,000 km",Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...","₹ 3,75,000"
9579,Maruti Suzuki,Ritz,2013,11,"92,000 km",Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel","₹ 4,15,000"
9580,Hyundai,Verna,2019,5,"72,000 km",Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol","₹ 8,55,000"
9581,Hyundai,New i20,2021,3,"83,228 km",Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol","₹ 6,99,000"

### EDA

In [35]:
df.isna().sum()

Brand            0
model            0
Year             0
Age              0
kmDriven        47
Transmission     0
Owner            0
FuelType         0
PostedDate       0
AdditionInfo     0
AskPrice         0
dtype: int64

In [36]:
# Dropping rows with null value

df = df.dropna(axis=0)
df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,"105,904 km",Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel","₹ 10,40,000"
9578,Maruti Suzuki,Alto-800,2020,4,"55,000 km",Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...","₹ 3,75,000"
9579,Maruti Suzuki,Ritz,2013,11,"92,000 km",Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel","₹ 4,15,000"
9580,Hyundai,Verna,2019,5,"72,000 km",Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol","₹ 8,55,000"
9581,Hyundai,New i20,2021,3,"83,228 km",Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol","₹ 6,99,000"

In [37]:
df.isna().sum()

Brand           0
model           0
Year            0
Age             0
kmDriven        0
Transmission    0
Owner           0
FuelType        0
PostedDate      0
AdditionInfo    0
AskPrice        0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9535 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9535 non-null   object
 1   model         9535 non-null   object
 2   Year          9535 non-null   int64
 3   Age           9535 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9535 non-null   object
 6   Owner         9535 non-null   object
 7   FuelType      9535 non-null   object
 8   PostedDate    9535 non-null   object
 9   AdditionInfo  9535 non-null   object
 10  AskPrice      9535 non-null   object
dtypes: int64(2), object(9)
memory usage: 893.9+ KB

In [39]:
# Removing ₹ sign
df['AskPrice'] = df['AskPrice'].str.replace('₹', '', regex=False)
# Removing commas
df['AskPrice'] = df['AskPrice'].str.replace(',', '', regex=False)
# Convert to int
df['AskPrice'] = df['AskPrice'].astype(int)

In [40]:
# Removing km
df['kmDriven'] = df['kmDriven'].str.replace('km', '', regex=False)
# Removing commas
df['kmDriven'] = df['kmDriven'].str.replace(',', '', regex=False)
# Comvert to int
df['kmDriven'] = df['kmDriven'].astype(float)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9535 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9535 non-null   object
 1   model         9535 non-null   object
 2   Year          9535 non-null   int64
 3   Age           9535 non-null   int64
 4   kmDriven      9535 non-null   float64
 5   Transmission  9535 non-null   object
 6   Owner         9535 non-null   object
 7   FuelType      9535 non-null   object
 8   PostedDate    9535 non-null   object
 9   AdditionInfo  9535 non-null   object
 10  AskPrice      9535 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 893.9+ KB

In [42]:
# Changing Age from years to month for better accuracy
df['Age'] = df['Age']*12
df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,276,98000.0,Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...",195000
1,Toyota,Innova,2009,180,190000.0,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...",375000
2,Volkswagen,VentoTest,2010,168,77246.0,Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",184999
3,Maruti Suzuki,Swift,2017,84,83500.0,Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,565000
4,Maruti Suzuki,Baleno,2019,60,45000.0,Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol",685000
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,120,105904.0,Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel",1040000
9578,Maruti Suzuki,Alto-800,2020,48,55000.0,Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...",375000
9579,Maruti Suzuki,Ritz,2013,132,92000.0,Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel",415000
9580,Hyundai,Verna,2019,60,72000.0,Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol",855000
9581,Hyundai,New i20,2021,36,83228.0,Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol",699000

In [43]:
# Dropping unnecessary columns
df = df.drop(['Year', 'PostedDate', 'AdditionInfo'], axis=1)
df

,Brand,model,Age,kmDriven,Transmission,Owner,FuelType,AskPrice
0,Honda,City,276,98000.0,Manual,second,Petrol,195000
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000
...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,120,105904.0,Automatic,second,Diesel,1040000
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000

In [44]:
df = df.rename(columns={'model':'Model'})
df = df.rename(columns={'kmDriven':'KmDriven'})
df = df.rename(columns={'AskPrice':'Price'})

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9535 entries, 0 to 9581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9535 non-null   object
 1   Model         9535 non-null   object
 2   Age           9535 non-null   int64
 3   KmDriven      9535 non-null   float64
 4   Transmission  9535 non-null   object
 5   Owner         9535 non-null   object
 6   FuelType      9535 non-null   object
 7   Price         9535 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 670.4+ KB

In [46]:
df.duplicated().sum()

np.int64(820)

In [47]:
# Dropping duplicate values

df = df.drop_duplicates()
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Honda,City,276,98000.0,Manual,second,Petrol,195000
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000
...,...,...,...,...,...,...,...,...
9576,Porsche,Cayenne,12,7700.0,Automatic,first,Petrol,13600000
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8715 entries, 0 to 9581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         8715 non-null   object
 1   Model         8715 non-null   object
 2   Age           8715 non-null   int64
 3   KmDriven      8715 non-null   float64
 4   Transmission  8715 non-null   object
 5   Owner         8715 non-null   object
 6   FuelType      8715 non-null   object
 7   Price         8715 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 612.8+ KB

In [49]:
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Honda,City,276,98000.0,Manual,second,Petrol,195000
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000
...,...,...,...,...,...,...,...,...
9576,Porsche,Cayenne,12,7700.0,Automatic,first,Petrol,13600000
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000

#### Saving the cleaned dataset for further use

In [50]:
df.to_csv('Used_Car_Final.csv', index=False)

### Encoding

In [51]:
# Creating dictionary for every categorical column

Brand_dict = dict()
Model_dict = dict()
Transmission_dict = dict()
Owner_dict = dict()
FuelType_dict = dict()

In [52]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

# Brand column
df['Brand'] = encoder.fit_transform(df['Brand'])
for num, lbl in enumerate(encoder.classes_):
    Brand_dict[lbl] = num
print('Brand label saved')

# Model column
df['Model'] = encoder.fit_transform(df['Model'])
for num, lbl in enumerate(encoder.classes_):
    Model_dict[lbl] = num
print('Model label saved')

# Transmission column
df['Transmission'] = encoder.fit_transform(df['Transmission'])
for num, lbl in enumerate(encoder.classes_):
    Transmission_dict[lbl] = num
print('Transmission label saved')

# Owner column
df['Owner'] = encoder.fit_transform(df['Owner'])
for num, lbl in enumerate(encoder.classes_):
    Owner_dict[lbl] = num
print('Owner label saved')

# Fuel Type column
df['FuelType'] = encoder.fit_transform(df['FuelType'])
for num, lbl in enumerate(encoder.classes_):
    FuelType_dict[lbl] = num
print('FuelType label saved')

Brand label saved
Model label saved
Transmission label saved
Owner label saved
FuelType label saved

In [53]:
Brand_dict

{'Ambassador': 0,
 'Ashok': 1,
 'Aston Martin': 2,
 'Audi': 3,
 'BMW': 4,
 'Bajaj': 5,
 'Bentley': 6,
 'Chevrolet': 7,
 'Datsun': 8,
 'Fiat': 9,
 'Force': 10,
 'Ford': 11,
 'Honda': 12,
 'Hyundai': 13,
 'Isuzu': 14,
 'Jaguar': 15,
 'Jeep': 16,
 'Kia': 17,
 'Land Rover': 18,
 'Lexus': 19,
 'MG': 20,
 'Mahindra': 21,
 'Maruti Suzuki': 22,
 'Maserati': 23,
 'Mercedes-Benz': 24,
 'Mini': 25,
 'Mitsubishi': 26,
 'Nissan': 27,
 'Opel': 28,
 'Porsche': 29,
 'Renault': 30,
 'Rolls-Royce': 31,
 'Skoda': 32,
 'Ssangyong': 33,
 'Tata': 34,
 'Toyota': 35,
 'Volkswagen': 36,
 'Volvo': 37}

In [54]:
# Putting all the encoded dict in txt file
filename = 'categorical_mappings.txt'

# Open the file in write mode
with open(filename, 'w') as file:
    # Write Brand_dict
    file.write("Brand Dictionary:\n")
    for brand, label in Brand_dict.items():
        file.write(f"'{brand}': {label},\n")
    
    # Write Model_dict
    file.write("\nModel Dictionary:\n")
    for model, label in Model_dict.items():
        file.write(f"'{model}': {label},\n")

    # Write Transmission_dict
    file.write("\nTransmission Dictionary:\n")
    for transmission, label in Transmission_dict.items():
        file.write(f"'{transmission}': {label},\n")

    # Write Owner_dict
    file.write("\nOwner Dictionary:\n")
    for owner, label in Owner_dict.items():
        file.write(f"'{owner}': {label},\n")

    # Write FuelType_dict
    file.write("\nFuel Type Dictionary:\n")
    for fuel_type, label in FuelType_dict.items():
        file.write(f"'{fuel_type}': {label},\n")

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8715 entries, 0 to 9581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         8715 non-null   int64
 1   Model         8715 non-null   int64
 2   Age           8715 non-null   int64
 3   KmDriven      8715 non-null   float64
 4   Transmission  8715 non-null   int64
 5   Owner         8715 non-null   int64
 6   FuelType      8715 non-null   int64
 7   Price         8715 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 612.8 KB

In [56]:
df

      Brand  Model  Age  KmDriven  Transmission  Owner  FuelType     Price
0        12     84  276   98000.0             1      1         2    195000
1        35    187  180  190000.0             1      1         0    375000
2        36    345  168   77246.0             1      0         0    184999
3        22    316   84   83500.0             1      1         0    565000
4        22     52   60   45000.0             0      0         2    685000
...     ...    ...  ...       ...           ...    ...       ...       ...
9576     29     76   12    7700.0             0      0         2  13600000
9578     22     40   48   55000.0             1      0         1    375000
9579     22    276  132   92000.0             1      0         0    415000
9580     13    350   60   72000.0             0      0         2    855000
9581     13    236   36   83228.0             1      1         2    699000

[8715 rows x 8 columns]

### Splitting into Train, Test

In [57]:
from sklearn.model_selection import train_test_split

x = df.drop('Price', axis=1)
y = df['Price']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=123456)

print("Training set shape:", x_train.shape)
print("Testing set shape:", x_test.shape)

Training set shape: (6972, 7)
Testing set shape: (1743, 7)

### Model Training & Evaluation

#### Model Evaluation

In [58]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, root_mean_squared_error, r2_score

def metric_calc(x, y):
    y_pred = model.predict(x)
    y_true = y
    
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = root_mean_squared_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    # adjusted r2
    # number of values in the data set
    n = y_true.size
    # number of independent features
    k = 7
    adjusted_r2 = 1 - ((1-r2) * ((n - 1) / (n - (k + 1))))
    adjusted_r2
    
    print(f"Metrics:\n mae = {mae}\n mse = {mse}\n rmse = {rmse}\n r2 = {r2}\n adjusted_r2 = {adjusted_r2}")

def print_metric(x_train, y_train, x_test, y_test):
    print(f"Training")
    metric_calc(x_train, y_train)
    print()
    print(f"Testing")
    metric_calc(x_test, y_test)

#### Linear Regression

In [59]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [60]:
print_metric(x_train, y_train, x_test, y_test)

Training
Metrics:
 mae = 692651.4897476014
 mse = 2299033592716.1616
 rmse = 1516256.4402884366
 r2 = 0.18139095292463903
 adjusted_r2 = 0.1805681121248791

Testing
Metrics:
 mae = 669436.3733736507
 mse = 2012061362731.1604
 rmse = 1418471.488162931
 r2 = 0.1907700957761127
 adjusted_r2 = 0.18750519126339382

#### Random Forest

In [61]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)

RandomForestRegressor()

In [62]:
print_metric(x_train, y_train, x_test, y_test)

Training
Metrics:
 mae = 104790.67113089775
 mse = 162711317345.2574
 rmse = 403374.90916671726
 r2 = 0.9420639364025064
 adjusted_r2 = 0.9420057008417393

Testing
Metrics:
 mae = 257782.7191366145
 mse = 522039213319.5541
 rmse = 722522.8116257327
 r2 = 0.7900413225855769
 adjusted_r2 = 0.7891942270571037

#### Grid Search CV

In [63]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300],   # Number of trees in the forest
    'max_features': ['auto', 'sqrt'],  # Number of features to consider at every split
    'max_depth': [None, 10, 20, 30],   # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],   # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]      # Minimum number of samples required to be at a leaf node
}

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=model,
                           param_grid=param_grid,
                           scoring='r2',  # Use R² as the scoring metric
                           cv=5,          # Number of cross-validation folds
                           verbose=2,
                           n_jobs=-1)     # Use all available cores

# Fit GridSearchCV
grid_search.fit(x_train, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_   # Best cross-validation R² score

print("Best Parameters:", best_params)
print("Best Cross-Validation R²:", best_score)

# Evaluate on the test set using the best estimator from grid search
best_rf = grid_search.best_estimator_
y_pred = best_rf.predict(x_test)

# Calculate metrics on the test set
test_mae = mean_absolute_error(y_test, y_pred)
test_mse = mean_squared_error(y_test, y_pred)
test_rmse = np.sqrt(test_mse)
test_r2 = r2_score(y_test, y_pred)

print("Test MAE:", test_mae)
print("Test MSE:", test_mse)
print("Test RMSE:", test_rmse)
print("Test R²:", test_r2)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Best Parameters: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Best Cross-Validation R²: 0.5555725982658641
Test MAE: 311942.09839791403
Test MSE: 759413766553.276
Test RMSE: 871443.4959039375
Test R²: 0.6945717755148205

### Make pickle file

In [64]:
import pickle

with open("Used_Car_Price_Prediction.pkl", "wb") as file:
    pickle.dump(model, file)