# Dataset 1 Cleaning

### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Loading data

In [2]:
df = pd.read_csv("D:/Code/Projects/Used_Car_Price/Dataset/Extra/used_car_dataset.csv")
df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,"105,904 km",Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel","₹ 10,40,000"
9578,Maruti Suzuki,Alto-800,2020,4,"55,000 km",Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...","₹ 3,75,000"
9579,Maruti Suzuki,Ritz,2013,11,"92,000 km",Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel","₹ 4,15,000"
9580,Hyundai,Verna,2019,5,"72,000 km",Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol","₹ 8,55,000"
9581,Hyundai,New i20,2021,3,"83,228 km",Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol","₹ 6,99,000"

### EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   object
dtypes: int64(2), object(9)
memory usage: 823.6+ KB

In [4]:
df.describe()

              Year          Age
count  9582.000000  9582.000000
mean   2016.361094     7.638906
std       4.087226     4.087226
min    1986.000000     0.000000
25%    2014.000000     5.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2024.000000    38.000000

In [5]:
df.isna().sum()

Brand            0
model            0
Year             0
Age              0
kmDriven        47
Transmission     0
Owner            0
FuelType         0
PostedDate       0
AdditionInfo     0
AskPrice         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   object
dtypes: int64(2), object(9)
memory usage: 823.6+ KB

In [7]:
# Removing ₹ sign
df['AskPrice'] = df['AskPrice'].str.replace('₹', '', regex=False)
# Removing commas
df['AskPrice'] = df['AskPrice'].str.replace(',', '', regex=False)
# Convert to float
df['AskPrice'] = df['AskPrice'].astype(float)

In [8]:
# Removing km
df['kmDriven'] = df['kmDriven'].str.replace('km', '', regex=False)
# Removing commas
df['kmDriven'] = df['kmDriven'].str.replace(',', '', regex=False)
# Comvert to int
df['kmDriven'] = df['kmDriven'].astype(float)

In [9]:
# Changing Age from years to month for better accuracy
df['Age'] = df['Age']*12
df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,276,98000.0,Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...",195000.0
1,Toyota,Innova,2009,180,190000.0,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...",375000.0
2,Volkswagen,VentoTest,2010,168,77246.0,Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...",184999.0
3,Maruti Suzuki,Swift,2017,84,83500.0,Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,565000.0
4,Maruti Suzuki,Baleno,2019,60,45000.0,Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol",685000.0
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,120,105904.0,Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel",1040000.0
9578,Maruti Suzuki,Alto-800,2020,48,55000.0,Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...",375000.0
9579,Maruti Suzuki,Ritz,2013,132,92000.0,Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel",415000.0
9580,Hyundai,Verna,2019,60,72000.0,Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol",855000.0
9581,Hyundai,New i20,2021,36,83228.0,Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol",699000.0

In [10]:
# Dropping unnecessary columns
df = df.drop(['Year', 'PostedDate', 'AdditionInfo'], axis=1)
df

,Brand,model,Age,kmDriven,Transmission,Owner,FuelType,AskPrice
0,Honda,City,276,98000.0,Manual,second,Petrol,195000.0
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000.0
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999.0
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000.0
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000.0
...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,120,105904.0,Automatic,second,Diesel,1040000.0
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000.0
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000.0
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000.0
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000.0

In [11]:
df = df.rename(columns={'model':'Model'})
df = df.rename(columns={'kmDriven':'KmDriven'})
df = df.rename(columns={'AskPrice':'Price'})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   Model         9582 non-null   object
 2   Age           9582 non-null   int64
 3   KmDriven      9535 non-null   float64
 4   Transmission  9582 non-null   object
 5   Owner         9582 non-null   object
 6   FuelType      9582 non-null   object
 7   Price         9582 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 599.0+ KB

In [13]:
df.duplicated().sum()

np.int64(821)

In [14]:
# Dropping duplicate values

df = df.drop_duplicates()
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Honda,City,276,98000.0,Manual,second,Petrol,195000.0
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000.0
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999.0
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000.0
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000.0
...,...,...,...,...,...,...,...,...
9576,Porsche,Cayenne,12,7700.0,Automatic,first,Petrol,13600000.0
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000.0
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000.0
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000.0
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000.0

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8761 entries, 0 to 9581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         8761 non-null   object
 1   Model         8761 non-null   object
 2   Age           8761 non-null   int64
 3   KmDriven      8715 non-null   float64
 4   Transmission  8761 non-null   object
 5   Owner         8761 non-null   object
 6   FuelType      8761 non-null   object
 7   Price         8761 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 616.0+ KB

In [17]:
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Honda,City,276,98000.0,Manual,second,Petrol,195000.0
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000.0
2,Volkswagen,VentoTest,168,77246.0,Manual,first,Diesel,184999.0
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000.0
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000.0
...,...,...,...,...,...,...,...,...
9576,Porsche,Cayenne,12,7700.0,Automatic,first,Petrol,13600000.0
9578,Maruti Suzuki,Alto-800,48,55000.0,Manual,first,Hybrid/CNG,375000.0
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000.0
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000.0
9581,Hyundai,New i20,36,83228.0,Manual,second,Petrol,699000.0

#### Correcting the names of different models

In [18]:
df['Brand'].unique()

array(['Honda', 'Toyota', 'Volkswagen', 'Maruti Suzuki', 'BMW', 'Ford',
       'Kia', 'Mercedes-Benz', 'Hyundai', 'Audi', 'Renault', 'MG',
       'Volvo', 'Skoda', 'Tata', 'Mahindra', 'Mini', 'Land Rover', 'Jeep',
       'Chevrolet', 'Jaguar', 'Fiat', 'Aston Martin', 'Porsche', 'Nissan',
       'Force', 'Mitsubishi', 'Lexus', 'Isuzu', 'Datsun', 'Ambassador',
       'Rolls-Royce', 'ICML', 'Bajaj', 'Opel', 'Ashok', 'Bentley',
       'Ssangyong', 'Maserati'], dtype=object)

In [19]:
df['Brand'].nunique()

39

##### 1. Honda

In [20]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['City', 'BRV', 'Brio', 'City ZX', 'WRV', 'Amaze', 'Jazz',
       'City Hybrid eHEV', 'CRV', 'Civic', 'Accord', 'Mobilio', 'WR-V',
       'CR-V', 'New Accord', 'Elevate'], dtype=object)

In [21]:
df.replace('New Accord', 'Accord', inplace=True)
df.replace('City ZX', 'City', inplace=True)
df.replace('City Hybrid eHEV', 'City', inplace=True)
df.replace('WR-V', 'WRV', inplace=True)
df.replace('CR-V', 'CRV', inplace=True)

In [22]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['City', 'BRV', 'Brio', 'WRV', 'Amaze', 'Jazz', 'CRV', 'Civic',
       'Accord', 'Mobilio', 'Elevate'], dtype=object)

##### 2. Tata

In [23]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Safari', 'Nexon', 'Indigo Ecs', 'Harrier', 'Zest', 'Altroz',
       'Hexa', 'Bolt', 'Tiago', 'Indigo Marina', 'Nano Genx', 'Manza',
       'Tigor', 'Indigo Cs', 'Nano', 'Punch', 'Indica Vista',
       'Safari Storme', 'Indica Ev2', 'Indica', 'Punch ', 'Tiago Nrg',
       'Sumo Grande MK II', 'Sumo Gold', 'Indica V2', 'Sumo Victa',
       'Xenon XT', 'tata-punch', 'Venture', 'H5x', 'Sumo', 'Vista Tech',
       'Curvv'], dtype=object)

In [24]:
df.replace('Indigo Ecs', 'Indigo', inplace=True)
df.replace('Indica Vista', 'Indica', inplace=True)
df.replace('tata-punch', 'Punch', inplace=True)
df.replace('Indica Ev2', 'Indica', inplace=True)
df.replace('Indica V2', 'Indica', inplace=True)
df.replace('Nano Genx', 'Nano', inplace=True)
df.replace('Sumo Grande MK II', 'Sumo Grande', inplace=True)
df.replace('Indigo Cs', 'Indigo', inplace=True)
df.replace('H5x', 'Harrier', inplace=True)
df.replace('Indigo Marina', 'Indigo', inplace=True)
df.replace('Sumo Victa', 'Sumo', inplace=True)
df.replace('Sumo Gold', 'Sumo', inplace=True)
df.replace('Xenon XT', 'Xenon', inplace=True)
df.replace('Vista Tech', 'Vista', inplace=True)
df.replace('Vista', 'Indica', inplace=True)
df.replace('Tiago Nrg', 'Tiago', inplace=True)
df.replace('Sumo Grande', 'Sumo', inplace=True)
df.replace('Safari Storme', 'Safari', inplace=True)

In [25]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Safari', 'Nexon', 'Indigo', 'Harrier', 'Zest', 'Altroz', 'Hexa',
       'Bolt', 'Tiago', 'Nano', 'Manza', 'Tigor', 'Punch', 'Indica',
       'Punch ', 'Sumo', 'Xenon', 'Venture', 'Curvv'], dtype=object)

##### 3. Maruti Suzuki

In [26]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['Swift', 'Baleno', 'maruti-suzuki-dzire', 'Alto-K10',
       'Swift-Dzire', 'Ertiga', 'Celerio', 'Vitara-Brezza', 'Ciaz',
       'Wagon-R', 'Ignis', 'Ritz', 'Eeco', 'Swift Dzire', 'Sx4',
       'Alto-800', 'Alto K10', 'Omni', 'S-Presso', 'Alto', 'Dzire',
       'Grand Vitara', 'A-Star', 'Alto 800', 'maruti-suzuki-brezza',
       'Swift-Dzire-Tour', 'XL6', 'Wagon R', 'S-Cross', 'Gypsy', 'Brezza',
       'Zen-Estilo', 'Estilo', ' Wagon R', 'Celerio-X', 'S-Cross1',
       '1000', 'Fronx', '800', 'Wagon-R-1-0', 'Esteem', 'Jimny',
       'Vitara Brezza', 'Celerio X', 'Zen Estilo', 'Wagon R 1.0',
       'New-gen Swift', 'SX4', 'Wagon-R-Stingray', 'Baleno-RS', 'Invicto',
       'Stingray', 'Fronx '], dtype=object)

In [27]:
df.replace('maruti-suzuki-dzire', 'Swift Dzire', inplace=True)
df.replace('Swift-Dzire-Tour', 'Swift Dzire', inplace=True)
df.replace('Swift-Dzire', 'Swift Dzire', inplace=True)
df.replace('Alto K10', 'Alto', inplace=True)
df.replace('Alto 800', 'Alto', inplace=True)
df.replace(' Wagon R', 'WagonR', inplace=True)
df.replace('Wagon R', 'WagonR', inplace=True)
df.replace('Alto-800', 'Alto', inplace=True)
df.replace('Celerio-X', 'Celerio', inplace=True)
df.replace('S-Cross1', 'S-Cross', inplace=True)
df.replace('Wagon R 1.0', 'WagonR', inplace=True)
df.replace('New-gen Swift', 'Swift', inplace=True)
df.replace('Baleno-RS', 'Baleno', inplace=True)
df.replace('maruti-suzuki-brezza', 'Vitara-Brezza', inplace=True)
df.replace('Brezza', 'Vitara-Brezza', inplace=True)
df.replace('Vitara Brezza', 'Vitara-Brezza', inplace=True)
df.replace('Wagon-R-1-0', 'WagonR', inplace=True)
df.replace('Wagon-R-Stingray', 'WagonR', inplace=True)
df.replace('Stingray', 'WagonR', inplace=True)
df.replace('Dzire', 'Swift Dzire', inplace=True)
df.replace('Alto-K10', 'Alto', inplace=True)
df.replace('Celerio X', 'Celerio', inplace=True)
df.replace('Estilo', 'Zen-Estilo', inplace=True)
df.replace('Zen Estilo', 'Zen-Estilo', inplace=True)
df.replace('Sx4', 'SX4', inplace=True)
df.replace('Wagon R', 'WagonR', inplace=True)
df.replace('Wagon-R', 'WagonR', inplace=True)

In [28]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['Swift', 'Baleno', 'Swift Dzire', 'Alto', 'Ertiga', 'Celerio',
       'Vitara-Brezza', 'Ciaz', 'WagonR', 'Ignis', 'Ritz', 'Eeco', 'SX4',
       'Omni', 'S-Presso', 'Grand Vitara', 'A-Star', 'XL6', 'S-Cross',
       'Gypsy', 'Zen-Estilo', '1000', 'Fronx', '800', 'Esteem', 'Jimny',
       'Invicto', 'Fronx '], dtype=object)

##### 4. Toyota

In [29]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Innova', 'Corolla', 'Innova Crysta', '2.8 Legender 4X2',
       'Fortuner', 'Etios', 'Camry', 'Glanza', 'Etios Liva',
       'Innova Hycross', 'Corolla Altis', 'Urban Cruiser', 'VELLFIRE',
       'Land Cruiser', 'Etios Cross', 'Yaris', 'Urban Cruiser Hyryder',
       'Land Cruiser Prado', 'Estima'], dtype=object)

In [30]:
df.replace('Innova Crysta', 'Innova', inplace=True)
df.replace('Innova Hycross', 'Innova', inplace=True)
df.replace('VELLFIRE', 'Vellfire', inplace=True)
df.replace('Urban Cruiser', 'Urban Cruiser Hyryder', inplace=True)
df.replace('2.8 Legender 4X2', 'Fortuner', inplace=True)
df.replace('Land Cruiser Prado', 'Land Cruiser', inplace=True)
df.replace('Corolla Altis', 'Corolla', inplace=True)

In [31]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Innova', 'Corolla', 'Fortuner', 'Etios', 'Camry', 'Glanza',
       'Etios Liva', 'Urban Cruiser Hyryder', 'Vellfire', 'Land Cruiser',
       'Etios Cross', 'Yaris', 'Estima'], dtype=object)

##### 5. Volkswagen

In [32]:
df[df['Brand'] == 'Volkswagen']['Model'].unique()

array(['VentoTest', 'Polo', 'CrossPolo', 'Vento', 'Tiguan', 'Polo GTI',
       'Virtus', 'Passat', 'Ameo', 'Jetta', 'Taigun', 'Beetle',
       'Tiguan All Space', 'GTI'], dtype=object)

In [33]:
df.replace('VentoTest', 'Vento', inplace=True)
df.replace('CrossPolo', 'Polo', inplace=True)
df.replace('Polo GTI', 'Polo', inplace=True)
df.replace('GTI', 'Polo', inplace=True)
df.replace('Tiguan All Space', 'Tiguan', inplace=True)

In [34]:
df[df['Brand'] == 'Volkswagen']['Model'].unique()

array(['Vento', 'Polo', 'Tiguan', 'Virtus', 'Passat', 'Ameo', 'Jetta',
       'Taigun', 'Beetle'], dtype=object)

##### 6. BMW

In [35]:
df[df['Brand'] == 'BMW']['Model'].unique()

array(['X3', '5 Series', '3 Series GT', 'X1', 'X5', '7 Series',
       '3 Series', '6 Series GT', 'X7', 'Z4', 'X4', '2 Series',
       '1 Series', '6 Series', '3 Series Gran Limousine', 'X6',
       '5 Series Gt', 'M340i', 'X5 M'], dtype=object)

In [36]:
df.replace('X5 M', 'X5', inplace=True)
df.replace('6 Series GT', '6 Series', inplace=True)
df.replace('3 Series GT', '3 Series', inplace=True)
df.replace('3 Series Gran Limousine', '3 Series', inplace=True)
df.replace('M340i', '3 Series', inplace=True)
df.replace('5 Series Gt', '5 Series', inplace=True)

In [37]:
df[df['Brand'] == 'BMW']['Model'].unique()

array(['X3', '5 Series', '3 Series', 'X1', 'X5', '7 Series', '6 Series',
       'X7', 'Z4', 'X4', '2 Series', '1 Series', 'X6'], dtype=object)

##### 7. Ford

In [38]:
df[df['Brand'] == 'Ford']['Model'].unique()

array(['Ecosport', 'Endeavour', 'Figo', 'Figo Aspire', 'Fiesta Classic',
       'Fiesta', 'Aspire', 'Mustang', 'Free Style', 'Ikon'], dtype=object)

In [39]:
df.replace('Figo Aspire', 'Aspire', inplace=True)
df.replace('Fiesta Classic', 'Fiesta', inplace=True)
df.replace('Free Style', 'Freestyle', inplace=True)

In [40]:
df[df['Brand'] == 'Ford']['Model'].unique()

array(['Ecosport', 'Endeavour', 'Figo', 'Aspire', 'Fiesta', 'Mustang',
       'Freestyle', 'Ikon'], dtype=object)

##### 8. Kia

In [41]:
df[df['Brand'] == 'Kia']['Model'].unique()

array(['Carnival', 'Seltos', 'Carens', 'Sonet', 'CERATO'], dtype=object)

In [42]:
df.replace('CERATO', 'Cerato', inplace=True)

In [43]:
df[df['Brand'] == 'Kia']['Model'].unique()

array(['Carnival', 'Seltos', 'Carens', 'Sonet', 'Cerato'], dtype=object)

##### 9. Mercedes-Benz

In [44]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['GLE COUPE', 'E-Class', 'C-Class', 'GLS', 'GLA Class', 'GLC Coupe',
       'M-Class', 'G', 'CLA', 'S-Class', 'GL-Class', 'GLC', 'G Class',
       'CLS-Class', 'G-Class', 'GLE', 'GLC Class', 'V-Class', 'C Class',
       'GLA', 'GLE Class', 'AMG GLE Coupe', 'B Class',
       'A-Class Limousine', 'AMG C 43', 'SLK-Class', 'AMG A35', 'A Class',
       'SL-Class', 'A-class Limousine', 'AMG'], dtype=object)

In [45]:
df.replace('GLE COUPE', 'GLE', inplace=True)
df.replace('GLE Class', 'GLE', inplace=True)
df.replace('GLE Coupe', 'GLE', inplace=True)
df.replace('AMG GLE Coupe', 'GLE', inplace=True)
df.replace('GLA Class', 'GLA', inplace=True)
df.replace('GLC Coupe', 'GLC', inplace=True)
df.replace('GLC Class', 'GLC', inplace=True)
df.replace('G', 'G-Class', inplace=True)
df.replace('G Class', 'G-Class', inplace=True)
df.replace('CLS-Class', 'CLS', inplace=True)
df.replace('B Class', 'B-Class', inplace=True)
df.replace('A-Class Limousine', 'A-Class', inplace=True)
df.replace('A-class Limousine', 'A-Class', inplace=True)
df.replace('A Class', 'A-Class', inplace=True)
df.replace('C Class', 'C-Class', inplace=True)
df.replace('AMG C 43', 'AMG C43', inplace=True)

In [46]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['GLE', 'E-Class', 'C-Class', 'GLS', 'GLA', 'GLC', 'M-Class',
       'G-Class', 'CLA', 'S-Class', 'GL-Class', 'CLS', 'V-Class',
       'B-Class', 'A-Class', 'AMG C43', 'SLK-Class', 'AMG A35',
       'SL-Class', 'AMG'], dtype=object)

##### 10. Hyundai

In [47]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Xcent', 'Venue', 'Creta', 'Alcazar', 'i20', 'Verna', 'Eon', 'i10',
       'Grand i10', 'Getz Prime', 'Grand i10 Nios', 'Tucson', 'Santa Fe',
       'Creta Facelift', 'New i20', 'Elite i20', 'Santro Xing', 'Elantra',
       'Sonata Embera', 'Fluidic Verna', 'Santro', 'i20 Active', 'Accent',
       'Sonata', 'Aura', 'EON', 'i20 N Line', 'Venue N Line',
       'New Santro', 'New Elantra', 'Xcent Prime', 'Grand i10 Prime',
       'Getz', 'Exter', 'Accent Hatchback'], dtype=object)

In [48]:
df.replace('Xcent Prime', 'Xcent', inplace=True)
df.replace('Venue N Line', 'Venue', inplace=True)
df.replace('Creta Facelift', 'Creta', inplace=True)
df.replace('New i20', 'i20', inplace=True)
df.replace('Elite i20', 'i20', inplace=True)
df.replace('i20 Active', 'i20', inplace=True)
df.replace('i20 N Line', 'i20', inplace=True)
df.replace('Fluidic Verna', 'Verna', inplace=True)
df.replace('EON', 'Eon', inplace=True)
df.replace('Grand i10', 'i10', inplace=True)
df.replace('Grand i10 Nios', 'i10', inplace=True)
df.replace('Grand i10 Prime', 'i10', inplace=True)
df.replace('Getz Prime', 'Getz', inplace=True)
df.replace('Santro Xing', 'Santro', inplace=True)
df.replace('New Santro', 'Santro', inplace=True)
df.replace('New Elantra', 'Elantra', inplace=True)
df.replace('Sonata Embera', 'Sonata', inplace=True)
df.replace('Accent Hatchback', 'Accent', inplace=True)

In [49]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Xcent', 'Venue', 'Creta', 'Alcazar', 'i20', 'Verna', 'Eon', 'i10',
       'Getz', 'Tucson', 'Santa Fe', 'Santro', 'Elantra', 'Sonata',
       'Accent', 'Aura', 'Exter'], dtype=object)

##### 11. Audi

In [50]:
df[df['Brand'] == 'Audi']['Model'].unique()

array(['A3', 'A4', 'Q7', 'Q3', 'A6', 'A8 L', 'Q5', 'A5', 'A3 Cabriolet',
       '2.9 Sportback'], dtype=object)

In [51]:
df.replace('A3 Cabriolet', 'A3', inplace=True)
df.replace('A8 L', 'A8', inplace=True)
df.replace('2.9 Sportback', 'RS5', inplace=True)

In [52]:
df[df['Brand'] == 'Audi']['Model'].unique()

array(['A3', 'A4', 'Q7', 'Q3', 'A6', 'A8', 'Q5', 'A5', 'RS5'],
      dtype=object)

##### 12. MG

In [53]:
df[df['Brand'] == 'MG']['Model'].unique()

array(['Hector', 'Hector Plus', 'ASTOR', 'Gloster'], dtype=object)

In [54]:
df.replace('Hector Plus', 'Hector', inplace=True)
df.replace('ASTOR', 'Astor', inplace=True)

In [55]:
df[df['Brand'] == 'MG']['Model'].unique()

array(['Hector', 'Astor', 'Gloster'], dtype=object)

##### 13. Volvo

In [56]:
df[df['Brand'] == 'Volvo']['Model'].unique()

array(['S90', 'XC 90', 'V40 Cross Country', 'XC40', 'XC60',
       'S60 Cross Country', 'S60', 'S 80', 'S80', 'XC90'], dtype=object)

In [57]:
df.replace('XC 90', 'XC90', inplace=True)
df.replace('V40 Cross Country', 'V40', inplace=True)
df.replace('S60 Cross Country', 'S60', inplace=True)
df.replace('S 80', 'S80', inplace=True)

In [58]:
df[df['Brand'] == 'Volvo']['Model'].unique()

array(['S90', 'XC90', 'V40', 'XC40', 'XC60', 'S60', 'S80'], dtype=object)

##### 14. Skoda

In [59]:
df[df['Brand'] == 'Skoda']['Model'].unique()

array(['Kushaq', 'Kodiaq', 'Rapid', 'Octavia', 'Superb', 'Slavia',
       'Laura', 'Fabia'], dtype=object)

##### 15. Mahindra

In [60]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['Bolero Power Plus', 'XUV500', 'Scorpio-N', 'Thar', 'Bolero',
       'TUV', 'XUV700', 'Alturas G4', 'Scorpio', 'KUV 100', 'Bolero Neo',
       'Xylo', 'Jeep', 'Scorpio Classic', 'Renault Logan',
       'Bolero Neo Plus', 'Scorpio N', 'XUV 300', 'Verito', 'Marazzo',
       'Marshal', 'TUV 300', 'XUV300', 'KUV100 NXT', 'Quanto',
       'TUV 300-plus', 'E-20', 'Ssangyong-Rexton', 'Nuvosport', 'Rexton',
       'Ssangyong Rexton'], dtype=object)

In [61]:
df.loc[df['Model'] == 'Ssangyong Rexton', 'Brand'] = 'Ssangyong'
df.loc[df['Model'] == 'Ssangyong-Rexton', 'Brand'] = 'Ssangyong'
df.loc[df['Model'] == 'Rexton', 'Brand'] = 'Ssangyong'
df.loc[df['Model'] == 'Renault Logan', 'Brand'] = 'Renault'

df.replace('Bolero Power Plus', 'Bolero', inplace=True)
df.replace('Bolero Neo', 'Bolero', inplace=True)
df.replace('Bolero Neo Plus', 'Bolero', inplace=True)
df.replace('Scorpio-N', 'Scorpio', inplace=True)
df.replace('Scorpio N', 'Scorpio', inplace=True)
df.replace('Scorpio Classic', 'Scorpio', inplace=True)
df.replace('TUV', 'TUV300', inplace=True)
df.replace('TUV 300', 'TUV300', inplace=True)
df.replace('TUV 300-plus', 'TUV300', inplace=True)
df.replace('KUV 100', 'KUV100', inplace=True)
df.replace('XUV 300', 'XUV300', inplace=True)
df.replace('KUV100 NXT', 'KUV100', inplace=True)

In [62]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['Bolero', 'XUV500', 'Scorpio', 'Thar', 'TUV300', 'XUV700',
       'Alturas G4', 'KUV100', 'Xylo', 'Jeep', 'XUV300', 'Verito',
       'Marazzo', 'Marshal', 'Quanto', 'E-20', 'Nuvosport'], dtype=object)

##### 16. Renault

In [63]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['KWID', 'Duster', 'Scala', 'Captur', 'Triber', 'Renault Logan',
       'Lodgy', 'Kiger', 'Fluence', 'Pulse', 'New Duster'], dtype=object)

In [64]:
df.loc[df['Model'] == 'Renault Logan', 'Model'] = 'Logan'

df.replace('KWID', 'Kwid', inplace=True)
df.replace('Renault Logan', 'Logan', inplace=True)
df.replace('New Duster', 'Duster', inplace=True)

In [65]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['Kwid', 'Duster', 'Scala', 'Captur', 'Triber', 'Logan', 'Lodgy',
       'Kiger', 'Fluence', 'Pulse'], dtype=object)

##### 17. Ssangyong

In [66]:
df[df['Brand'] == 'Ssangyong']['Model'].unique()

array(['Ssangyong-Rexton', 'Rexton', 'Ssangyong Rexton'], dtype=object)

In [67]:
df.replace('Ssangyong-Rexton', 'Rexton', inplace=True)
df.replace('Ssangyong Rexton', 'Rexton', inplace=True)

In [68]:
df[df['Brand'] == 'Ssangyong']['Model'].unique()

array(['Rexton'], dtype=object)

##### 18. Mini

In [69]:
df[df['Brand'] == 'Mini']['Model'].unique()

array(['Cooper 3 DOOR', 'Cooper 5 DOOR', 'Cooper S', 'Cooper Convertible',
       '3 DOOR', 'Cooper', 'Cooper Countryman', 'Countryman',
       'Cooper Clubman', '5 DOOR'], dtype=object)

In [70]:
df.replace('Cooper 3 DOOR', 'Cooper 3', inplace=True)
df.replace('Cooper 5 DOOR', 'Cooper 5', inplace=True)
df.replace('3 DOOR', 'Cooper 3', inplace=True)
df.replace('Countryman', 'Cooper Countryman', inplace=True)
df.replace('5 DOOR', 'Cooper 5', inplace=True)

In [71]:
df[df['Brand'] == 'Mini']['Model'].unique()

array(['Cooper 3', 'Cooper 5', 'Cooper S', 'Cooper Convertible', 'Cooper',
       'Cooper Countryman', 'Cooper Clubman'], dtype=object)

##### 19. Land Rover

In [72]:
df[df['Brand'] == 'Land Rover']['Model'].unique()

array(['Range Rover Evoque', 'Discovery Sport', 'Range Rover', 'Defender',
       'Range Rover Sport', 'Range Rover Velar', 'Freelander 2',
       'Discovery'], dtype=object)

In [73]:
df.replace('Discovery Sport', 'Discovery', inplace=True)
df.replace('Range Rover Sport', 'Discovery', inplace=True)

In [74]:
df[df['Brand'] == 'Land Rover']['Model'].unique()

array(['Range Rover Evoque', 'Discovery', 'Range Rover', 'Defender',
       'Range Rover Velar', 'Freelander 2'], dtype=object)

##### 20. Chevrolet

In [75]:
df[df['Brand'] == 'Chevrolet']['Model'].unique()

array(['Cruze', 'Enjoy', 'Optra', 'Tavera', 'Beat', 'Spark', 'Sail U-VA',
       'Sail', 'OptraSRV', 'Trailblazer', 'Optra Magnum', 'Captiva'],
      dtype=object)

In [76]:
df.replace('OptraSRV', 'Optra', inplace=True)
df.replace('Optra Magnum', 'Optra', inplace=True)

In [77]:
df[df['Brand'] == 'Chevrolet']['Model'].unique()

array(['Cruze', 'Enjoy', 'Optra', 'Tavera', 'Beat', 'Spark', 'Sail U-VA',
       'Sail', 'Trailblazer', 'Captiva'], dtype=object)

##### 21. Jaguar

In [78]:
df[df['Brand'] == 'Jaguar']['Model'].unique()

array(['XF', 'XJ', 'XE', 'F-Pace', 'Others'], dtype=object)

##### 22. Fiat

In [79]:
df[df['Brand'] == 'Fiat']['Model'].unique()

array(['Linea', 'Punto', 'Punto EVO', 'Grand Punto', 'Punto Pure',
       'Avventura', 'Urban Cross'], dtype=object)

In [80]:
df.replace('Punto EVO', 'Punto', inplace=True)
df.replace('Grand Punto', 'Punto', inplace=True)
df.replace('Punto Pure', 'Punto', inplace=True)

In [81]:
df[df['Brand'] == 'Fiat']['Model'].unique()

array(['Linea', 'Punto', 'Avventura', 'Urban Cross'], dtype=object)

##### 23. Aston Martin

In [82]:
df[df['Brand'] == 'Aston Martin']['Model'].unique()

array(['Vanquish'], dtype=object)

##### 24. Porsche

In [83]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['Macan', '718', 'Boxster', 'Cayenne', 'Cayenne Coupe', 'Panamera',
       'Cayman'], dtype=object)

In [84]:
df.replace('Cayenne Coupe', 'Cayenne', inplace=True)
df.replace('Boxster', '718 Boxster', inplace=True)
df.replace('718', '718 Boxster', inplace=True)

In [85]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['Macan', '718 Boxster', 'Cayenne', 'Panamera', 'Cayman'],
      dtype=object)

##### 25. Nissan

In [86]:
df[df['Brand'] == 'Nissan']['Model'].unique()

array(['Terrano', 'MICRA PRIMO', 'Micra', 'Kicks', 'PATROL', 'Sunny',
       'Magnite', 'Micra Active', 'Teana', 'Urvan'], dtype=object)

In [87]:
df.replace('MICRA PRIMO', 'Micra', inplace=True)
df.replace('Micra Active', 'Micra', inplace=True)
df.replace('PATROL', 'Patrol', inplace=True)

In [88]:
df[df['Brand'] == 'Nissan']['Model'].unique()

array(['Terrano', 'Micra', 'Kicks', 'Patrol', 'Sunny', 'Magnite', 'Teana',
       'Urvan'], dtype=object)

##### 26. Force Motors

In [89]:
df.replace('Force', 'Force Motors', inplace=True)

In [90]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['Motors FM Gurkha', 'Motors FM Trax Cruiser',
       'Motors FM Force One Test'], dtype=object)

In [91]:
df.replace('Motors FM Gurkha', 'Gurkha', inplace=True)
df.replace('Motors FM Trax Cruiser', 'Trax Cruiser', inplace=True)
df.replace('Motors FM Force One Test', 'Force One', inplace=True)

In [92]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['Gurkha', 'Trax Cruiser', 'Force One'], dtype=object)

##### 27. Mitsubishi

In [93]:
df[df['Brand'] == 'Mitsubishi']['Model'].unique()

array(['Pajero Sport', 'Cedia', 'Outlander', 'Lancer'], dtype=object)

##### 28. Lexus

In [94]:
df[df['Brand'] == 'Lexus']['Model'].unique()

array(['ES', 'LX', 'NX', 'LS', 'RX'], dtype=object)

##### 29. Isuzu

In [95]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['MAX', 'D-Max V-Cross', 'MUX', 'Hi-Lande Isuzu Hi-Lander'],
      dtype=object)

In [96]:
df.replace('MAX', 'D-Max', inplace=True)
df.replace('D-Max V-Cross', 'D-Max', inplace=True)
df.replace('Hi-Lande Isuzu Hi-Lander', 'Hi-Lander', inplace=True)

In [97]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['D-Max', 'MUX', 'Hi-Lander'], dtype=object)

##### 30. Datsun

In [98]:
df[df['Brand'] == 'Datsun']['Model'].unique()

array(['RediGO', 'Redi Go', 'GO', 'GO Plus'], dtype=object)

In [99]:
df.replace('RediGO', 'Redi GO', inplace=True)
df.replace('Redi Go', 'Redi GO', inplace=True)

In [100]:
df[df['Brand'] == 'Datsun']['Model'].unique()

array(['Redi GO', 'GO', 'GO Plus'], dtype=object)

##### 31. Ambassador

In [101]:
df[df['Brand'] == 'Ambassador']['Model'].unique()

array(['Ambassador'], dtype=object)

##### 32. Rolls-Royce

In [102]:
df[df['Brand'] == 'Rolls-Royce']['Model'].unique()

array(['Phantom Series II', 'Phantom Drop HeadCoupe'], dtype=object)

In [103]:
df.replace('Phantom Series II', 'Phantom', inplace=True)
df.replace('Phantom Drop HeadCoupe', 'Phantom', inplace=True)

In [104]:
df[df['Brand'] == 'Rolls-Royce']['Model'].unique()

array(['Phantom'], dtype=object)

##### 33. Bajaj

In [105]:
df[df['Brand'] == 'Bajaj']['Model'].unique()

array(['RE60'], dtype=object)

##### 34. Opel

In [106]:
df[df['Brand'] == 'Opel']['Model'].unique()

array(['Corsa'], dtype=object)

##### 35. Ashok

In [107]:
df[df['Brand'] == 'Ashok']['Model'].unique()

array(['Leyland Stile'], dtype=object)

##### 36. Bentley

In [108]:
df[df['Brand'] == 'Bentley']['Model'].unique()

array(['Flying Spur'], dtype=object)

##### 37. Maserati

In [109]:
df[df['Brand'] == 'Maserati']['Model'].unique()

array(['Gran Turismo'], dtype=object)

##### 38. ICML

In [110]:
df[df['Brand'] == 'ICML']['Model'].unique()

array(['Rhino Rx'], dtype=object)

##### 39. Jeep

In [111]:
df[df['Brand'] == 'Jeep']['Model'].unique()

array(['Compass', 'Meridian', 'Wrangler'], dtype=object)

### Saving the cleaned dataset for further use

In [112]:
df.shape

(8761, 8)

In [113]:
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Honda,City,276,98000.0,Manual,second,Petrol,195000.0
1,Toyota,Innova,180,190000.0,Manual,second,Diesel,375000.0
2,Volkswagen,Vento,168,77246.0,Manual,first,Diesel,184999.0
3,Maruti Suzuki,Swift,84,83500.0,Manual,second,Diesel,565000.0
4,Maruti Suzuki,Baleno,60,45000.0,Automatic,first,Petrol,685000.0
...,...,...,...,...,...,...,...,...
9576,Porsche,Cayenne,12,7700.0,Automatic,first,Petrol,13600000.0
9578,Maruti Suzuki,Alto,48,55000.0,Manual,first,Hybrid/CNG,375000.0
9579,Maruti Suzuki,Ritz,132,92000.0,Manual,first,Diesel,415000.0
9580,Hyundai,Verna,60,72000.0,Automatic,first,Petrol,855000.0
9581,Hyundai,i20,36,83228.0,Manual,second,Petrol,699000.0

In [114]:
df.to_csv('../Dataset/Used_Car_Df1.csv', index=False)