# Dataset 2 Cleaning

### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Loading data

In [2]:
df_raw = pd.read_csv("D:/Code/Projects/Used_Car_Price/Dataset/Extra/used_cars_data_1.csv")
df_raw

,car_name,car_age,car_make,car_model,car_spec,engine,fuel_type,kilometers_driven,location,mileage,mileage_unit,owner_type,power,price,region,seats,transmission,year
0,AMBASSADOR CLASSIC,16,AMBASSADOR,CLASSIC,NOVA DIESEL,1489.0,Diesel,80000,Chennai,12.80,kmpl,Third,35.5,1.35,South,5.0,Manual,2003
1,AUDI A3,5,AUDI,A3,35 TDI ATTRACTION,1968.0,Diesel,79271,Chennai,20.38,kmpl,First,143.0,16.50,South,5.0,Automatic,2014
2,AUDI A3,2,AUDI,A3,35 TDI TECHNOLOGY,1968.0,Diesel,22000,Delhi,20.38,kmpl,Second,143.0,22.50,North,5.0,Automatic,2017
3,AUDI A3,3,AUDI,A3,35 TDI PREMIUM,1968.0,Diesel,20003,Mumbai,20.38,kmpl,First,143.0,19.25,West,5.0,Automatic,2016
4,AUDI A3,3,AUDI,A3,35 TDI PREMIUM PLUS,1968.0,Diesel,39000,Mumbai,20.38,kmpl,First,143.0,18.90,West,5.0,Automatic,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6011,VOLVO XC60,8,VOLVO,XC60,D5,2400.0,Diesel,173000,Ahmedabad,13.50,kmpl,First,215.0,12.00,West,5.0,Automatic,2011
6012,VOLVO XC60,7,VOLVO,XC60,D4 SUMMUM,1985.0,Diesel,86000,Hyderabad,14.70,kmpl,Second,163.0,18.25,South,5.0,Automatic,2012
6013,VOLVO XC60,5,VOLVO,XC60,D4 SUMMUM,1984.0,Diesel,93144,Kochi,14.70,kmpl,First,181.0,17.15,South,5.0,Automatic,2014
6014,VOLVO XC90,5,VOLVO,XC90,2007-2015 D5 AWD,2400.0,Diesel,89230,Kochi,11.10,kmpl,First,200.0,23.65,South,7.0,Manual,2014
6015,VOLVO XC90,5,VOLVO,XC90,2007-2015 D5 AT AWD,2400.0,Diesel,102001,Kochi,11.10,kmpl,First,200.0,23.58,South,7.0,Automatic,2014

### EDA

In [3]:
# Keeping only required columns
df = df_raw[['car_make', 'car_model', 'car_age', 'kilometers_driven', 'transmission', 'owner_type', 'fuel_type', 'price']].copy()

# Renaming the columns
df.columns = ['Brand', 'Model', 'Age', 'KmDriven', 'Transmission', 'Owner', 'FuelType', 'Price']

In [4]:
df

           Brand    Model  Age  KmDriven Transmission   Owner FuelType  Price
0     AMBASSADOR  CLASSIC   16     80000       Manual   Third   Diesel   1.35
1           AUDI       A3    5     79271    Automatic   First   Diesel  16.50
2           AUDI       A3    2     22000    Automatic  Second   Diesel  22.50
3           AUDI       A3    3     20003    Automatic   First   Diesel  19.25
4           AUDI       A3    3     39000    Automatic   First   Diesel  18.90
...          ...      ...  ...       ...          ...     ...      ...    ...
6011       VOLVO     XC60    8    173000    Automatic   First   Diesel  12.00
6012       VOLVO     XC60    7     86000    Automatic  Second   Diesel  18.25
6013       VOLVO     XC60    5     93144    Automatic   First   Diesel  17.15
6014       VOLVO     XC90    5     89230       Manual   First   Diesel  23.65
6015       VOLVO     XC90    5    102001    Automatic   First   Diesel  23.58

[6016 rows x 8 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6016 entries, 0 to 6015
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         6016 non-null   object
 1   Model         6016 non-null   object
 2   Age           6016 non-null   int64
 3   KmDriven      6016 non-null   int64
 4   Transmission  6016 non-null   object
 5   Owner         6016 non-null   object
 6   FuelType      6016 non-null   object
 7   Price         6016 non-null   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 376.1+ KB

In [6]:
df.describe()

               Age      KmDriven        Price
count  6016.000000  6.016000e+03  6016.000000
mean      5.640791  5.874337e+04     9.479624
std       3.269211  9.129129e+04    11.190091
min       0.000000  1.710000e+02     0.440000
25%       3.000000  3.400000e+04     3.500000
50%       5.000000  5.300000e+04     5.640000
75%       8.000000  7.300000e+04     9.950000
max      21.000000  6.500000e+06   160.000000

In [7]:
df.isna().sum()

Brand           0
Model           0
Age             0
KmDriven        0
Transmission    0
Owner           0
FuelType        0
Price           0
dtype: int64

In [8]:
# Changing the price format from 1.35L to 135000
df['Price'] = df['Price']*100000
# Convert to float
df['Price'] = df['Price'].astype(float)

In [9]:
df.head()

        Brand    Model  Age  KmDriven Transmission   Owner FuelType      Price
0  AMBASSADOR  CLASSIC   16     80000       Manual   Third   Diesel   135000.0
1        AUDI       A3    5     79271    Automatic   First   Diesel  1650000.0
2        AUDI       A3    2     22000    Automatic  Second   Diesel  2250000.0
3        AUDI       A3    3     20003    Automatic   First   Diesel  1925000.0
4        AUDI       A3    3     39000    Automatic   First   Diesel  1890000.0

In [10]:
# Change the names of brand from AUDI to Audi
df['Brand'] = df['Brand'].str.title()

# Change the names of brand from AUDI to Audi
df['Model'] = df['Model'].str.title()

In [11]:
# Changing the Age from Years to Months
df['Age'] = df['Age']*12

In [12]:
df['Owner'] = df['Owner'].str.lower()

In [13]:
df.head()

        Brand    Model  Age  KmDriven Transmission   Owner FuelType      Price
0  Ambassador  Classic  192     80000       Manual   third   Diesel   135000.0
1        Audi       A3   60     79271    Automatic   first   Diesel  1650000.0
2        Audi       A3   24     22000    Automatic  second   Diesel  2250000.0
3        Audi       A3   36     20003    Automatic   first   Diesel  1925000.0
4        Audi       A3   36     39000    Automatic   first   Diesel  1890000.0

In [14]:
df.duplicated().sum()

np.int64(7)

In [15]:
# Dropping duplicate values

df = df.drop_duplicates()
df

,Brand,Model,Age,KmDriven,Transmission,Owner,FuelType,Price
0,Ambassador,Classic,192,80000,Manual,third,Diesel,135000.0
1,Audi,A3,60,79271,Automatic,first,Diesel,1650000.0
2,Audi,A3,24,22000,Automatic,second,Diesel,2250000.0
3,Audi,A3,36,20003,Automatic,first,Diesel,1925000.0
4,Audi,A3,36,39000,Automatic,first,Diesel,1890000.0
...,...,...,...,...,...,...,...,...
6011,Volvo,Xc60,96,173000,Automatic,first,Diesel,1200000.0
6012,Volvo,Xc60,84,86000,Automatic,second,Diesel,1825000.0
6013,Volvo,Xc60,60,93144,Automatic,first,Diesel,1715000.0
6014,Volvo,Xc90,60,89230,Manual,first,Diesel,2365000.0
6015,Volvo,Xc90,60,102001,Automatic,first,Diesel,2358000.0

#### Correcting the names of different models

In [16]:
df['Brand'].unique()

array(['Ambassador', 'Audi', 'Bentley', 'Bmw', 'Chevrolet', 'Datsun',
       'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar',
       'Jeep', 'Lamborghini', 'Land', 'Mahindra', 'Maruti',
       'Mercedes-Benz', 'Mini', 'Mitsubishi', 'Nissan', 'Porsche',
       'Renault', 'Skoda', 'Smart', 'Tata', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [17]:
df['Brand'].nunique()

30

##### 1. Honda

In [18]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['Accord', 'Amaze', 'Br-V', 'Brio', 'Brv', 'City', 'Civic', 'Cr-V',
       'Jazz', 'Mobilio', 'Wr-V', 'Wrv'], dtype=object)

In [19]:
df.replace('Br-V', 'BRV', inplace=True)
df.replace('Brv', 'BRV', inplace=True)
df.replace('Cr-V', 'CRV', inplace=True)
df.replace('Wr-V', 'WRV', inplace=True)
df.replace('Wrv', 'WRV', inplace=True)

In [20]:
df[df['Brand'] == 'Honda']['Model'].unique()

array(['Accord', 'Amaze', 'BRV', 'Brio', 'City', 'Civic', 'CRV', 'Jazz',
       'Mobilio', 'WRV'], dtype=object)

##### 2. Tata

In [21]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Bolt', 'Hexa', 'Indica', 'Indigo', 'Manza', 'Nano', 'New',
       'Nexon', 'Safari', 'Sumo', 'Tiago', 'Tigor', 'Venture', 'Xenon',
       'Zest'], dtype=object)

In [22]:
# Dropping 'New' as there is no car with this name
df = df[df['Model'] != 'New']

In [23]:
df[df['Brand'] == 'Tata']['Model'].unique()

array(['Bolt', 'Hexa', 'Indica', 'Indigo', 'Manza', 'Nano', 'Nexon',
       'Safari', 'Sumo', 'Tiago', 'Tigor', 'Venture', 'Xenon', 'Zest'],
      dtype=object)

##### 3. Maruti Suzuki

In [24]:
df.replace('Maruti', 'Maruti Suzuki', inplace=True)

In [25]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['1000', '800', 'A-Star', 'Alto', 'Baleno', 'Celerio', 'Ciaz',
       'Dzire', 'Eeco', 'Ertiga', 'Esteem', 'Estilo', 'Grand', 'Ignis',
       'Omni', 'Ritz', 'S', 'S-Cross', 'Swift', 'Sx4', 'Versa', 'Vitara',
       'Wagon', 'Zen'], dtype=object)

In [26]:
df.replace('S', 'S-Cross', inplace=True)
df.replace('Wagon', 'Wagon-R', inplace=True)
df.replace('Sx4', 'SX4', inplace=True)
df.replace('Dzire', 'Swift Dzire', inplace=True)
df.replace('Vitara', 'Vitara-Brezza', inplace=True)
df.replace('Grand', 'Grand Vitara', inplace=True)
df.replace('Estilo', 'Zen-Estilo', inplace=True)
df.replace('Versa', 'Eeco', inplace=True)

In [27]:
df[df['Brand'] == 'Maruti Suzuki']['Model'].unique()

array(['1000', '800', 'A-Star', 'Alto', 'Baleno', 'Celerio', 'Ciaz',
       'Swift Dzire', 'Eeco', 'Ertiga', 'Esteem', 'Zen-Estilo',
       'Grand Vitara', 'Ignis', 'Omni', 'Ritz', 'S-Cross', 'Swift', 'SX4',
       'Vitara-Brezza', 'Wagon-R', 'Zen'], dtype=object)

##### 4. Toyota

In [28]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Camry', 'Corolla', 'Etios', 'Fortuner', 'Innova', 'Platinum',
       'Qualis'], dtype=object)

In [29]:
df.replace('Platinum', 'Etios', inplace=True)

In [30]:
df[df['Brand'] == 'Toyota']['Model'].unique()

array(['Camry', 'Corolla', 'Etios', 'Fortuner', 'Innova', 'Qualis'],
      dtype=object)

##### 5. Volkswagen

In [31]:
df[df['Brand'] == 'Volkswagen']['Model'].unique()

array(['Ameo', 'Beetle', 'Crosspolo', 'Jetta', 'Passat', 'Polo', 'Tiguan',
       'Vento'], dtype=object)

In [32]:
df.replace('Crosspolo', 'Polo', inplace=True)

In [33]:
df[df['Brand'] == 'Volkswagen']['Model'].unique()

array(['Ameo', 'Beetle', 'Polo', 'Jetta', 'Passat', 'Tiguan', 'Vento'],
      dtype=object)

##### 6. BMW

In [34]:
df.replace('Bmw', 'BMW', inplace=True)

In [35]:
df[df['Brand'] == 'BMW']['Model'].unique()

array(['1', '3', '5', '6', '7', 'X1', 'X3', 'X5', 'X6', 'Z4'],
      dtype=object)

In [36]:
df.replace('1', '1 Series', inplace=True)
df.replace('3', '3 Series', inplace=True)
df.replace('5', '5 Series', inplace=True)
df.replace('6', '6 Series', inplace=True)
df.replace('7', '7 Series', inplace=True)

In [37]:
df[df['Brand'] == 'BMW']['Model'].unique()

array(['1 Series', '3 Series', '5 Series', '6 Series', '7 Series', 'X1',
       'X3', 'X5', 'X6', 'Z4'], dtype=object)

##### 7. Ford

In [38]:
df[df['Brand'] == 'Ford']['Model'].unique()

array(['Aspire', 'Classic', 'Ecosport', 'Endeavour', 'Fiesta', 'Figo',
       'Freestyle', 'Fusion', 'Ikon', 'Mustang'], dtype=object)

##### 8. Mercedes-Benz

In [39]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['A', 'B', 'C-Class', 'Cla', 'Cls-Class', 'E-Class', 'Gl-Class',
       'Gla', 'Glc', 'Gle', 'Gls', 'M-Class', 'R-Class', 'S-Cross',
       'S-Class', 'Sl-Class', 'Slc', 'Slk-Class'], dtype=object)

In [40]:
# S-Cross is a car from Maruti Suzuki not Merc
df.loc[df['Model'] == 'S-Cross', 'Brand'] = 'Maruti Suzuki'

df.replace('A', 'A-Class', inplace=True)
df.replace('B', 'B-Class', inplace=True)
df.replace('Cla', 'CLA', inplace=True)
df.replace('Cls-Class', 'CLS', inplace=True)
df.replace('Gl-Class', 'GL-Class', inplace=True)
df.replace('Gla', 'GLA', inplace=True)
df.replace('Glc', 'GLC', inplace=True)
df.replace('Gle', 'GLE', inplace=True)
df.replace('Gls', 'GLS', inplace=True)
df.replace('Sl-Class', 'SL-Class', inplace=True)
df.replace('Slc', 'SL-Class', inplace=True)
df.replace('Slk-Class', 'SLK-Class', inplace=True)

In [41]:
df[df['Brand'] == 'Mercedes-Benz']['Model'].unique()

array(['A-Class', 'B-Class', 'C-Class', 'CLA', 'CLS', 'E-Class',
       'GL-Class', 'GLA', 'GLC', 'GLE', 'GLS', 'M-Class', 'R-Class',
       'S-Class', 'SL-Class', 'SLK-Class'], dtype=object)

##### 9. Hyundai

In [42]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Accent', 'Creta', 'Elantra', 'Elite', 'Eon', 'Getz',
       'Grand Vitara', 'I10', 'I20', 'Santa', 'Santro', 'Sonata',
       'Tucson', 'Verna', 'Xcent'], dtype=object)

In [43]:
# Grand Vitara is a car from Maruti Suzuki not Hyundai
df.loc[df['Model'] == 'Grand Vitara', 'Brand'] = 'Maruti Suzuki'

df.replace('I20', 'i20', inplace=True)
df.replace('Elite', 'i20', inplace=True)
df.replace('I10', 'i10', inplace=True)
df.replace('Santa', 'Santa Fe', inplace=True)

In [44]:
df[df['Brand'] == 'Hyundai']['Model'].unique()

array(['Accent', 'Creta', 'Elantra', 'i20', 'Eon', 'Getz', 'i10',
       'Santa Fe', 'Santro', 'Sonata', 'Tucson', 'Verna', 'Xcent'],
      dtype=object)

##### 10. Audi

In [45]:
df[df['Brand'] == 'Audi']['Model'].unique()

array(['A3', 'A4', 'A6', 'A7', 'A8', 'Q3', 'Q5', 'Q7', 'Rs5', 'Tt'],
      dtype=object)

In [46]:
df.replace('Tt', 'TT', inplace=True)
df.replace('Rs5', 'RS5', inplace=True)

In [47]:
df[df['Brand'] == 'Audi']['Model'].unique()

array(['A3', 'A4', 'A6', 'A7', 'A8', 'Q3', 'Q5', 'Q7', 'RS5', 'TT'],
      dtype=object)

##### 11. Volvo

In [48]:
df[df['Brand'] == 'Volvo']['Model'].unique()

array(['S60', 'S80', 'V40', 'Xc60', 'Xc90'], dtype=object)

In [49]:
df.replace('Xc90', 'XC90', inplace=True)
df.replace('Xc60', 'XC60', inplace=True)

In [50]:
df[df['Brand'] == 'Volvo']['Model'].unique()

array(['S60', 'S80', 'V40', 'XC60', 'XC90'], dtype=object)

##### 12. Skoda

In [51]:
df[df['Brand'] == 'Skoda']['Model'].unique()

array(['Fabia', 'Laura', 'Octavia', 'Rapid', 'Superb', 'Yeti'],
      dtype=object)

##### 13. Mahindra

In [52]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['Bolero', 'Jeep', 'Kuv', 'Logan', 'Nuvosport', 'Quanto', 'Renault',
       'Scorpio', 'Ssangyong', 'Thar', 'Tuv', 'Verito', 'Xuv300',
       'Xuv500', 'Xylo'], dtype=object)

In [53]:
df.replace('Tuv', 'TUV300', inplace=True)
df.replace('Xuv300', 'XUV300', inplace=True)
df.replace('Xuv500', 'XUV500', inplace=True)
df.replace('Kuv', 'KUV100', inplace=True)

In [54]:
df[df['Brand'] == 'Mahindra']['Model'].unique()

array(['Bolero', 'Jeep', 'KUV100', 'Logan', 'Nuvosport', 'Quanto',
       'Renault', 'Scorpio', 'Ssangyong', 'Thar', 'TUV300', 'Verito',
       'XUV300', 'XUV500', 'Xylo'], dtype=object)

##### 14. Renault

In [55]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['Captur', 'Duster', 'Fluence', 'Koleos', 'Kwid', 'Lodgy', 'Pulse',
       'Scala'], dtype=object)

In [56]:
df.loc[df['Model'] == 'Logan', 'Brand'] = 'Renault'
df.loc[df['Model'] == 'Renault', 'Brand'] = 'Renault'

In [57]:
df.loc[df['Model'] == 'Renault', 'Model'] = 'Logan'

In [58]:
df[df['Brand'] == 'Renault']['Model'].unique()

array(['Logan', 'Captur', 'Duster', 'Fluence', 'Koleos', 'Kwid', 'Lodgy',
       'Pulse', 'Scala'], dtype=object)

##### 15. Ssangyong

In [59]:
df[df['Brand'] == 'Ssangyong']['Model'].unique()

array([], dtype=object)

In [60]:
df.loc[df['Model'] == 'Ssangyong', 'Brand'] = 'Ssangyong'
df.loc[df['Model'] == 'Ssangyong', 'Model'] = 'Rexton'

In [61]:
df[df['Brand'] == 'Ssangyong']['Model'].unique()

array(['Rexton'], dtype=object)

##### 16. Mini

In [62]:
df[df['Brand'] == 'Mini']['Model'].unique()

array(['Clubman', 'Cooper', 'Countryman'], dtype=object)

In [63]:
df.replace('Countryman', 'Cooper Countryman', inplace=True)
df.replace('Clubman', 'Cooper Clubman', inplace=True)

In [64]:
df[df['Brand'] == 'Mini']['Model'].unique()

array(['Cooper Clubman', 'Cooper', 'Cooper Countryman'], dtype=object)

##### 17. Chevrolet

In [65]:
df[df['Brand'] == 'Chevrolet']['Model'].unique()

array(['Aveo', 'Beat', 'Captiva', 'Cruze', 'Enjoy', 'Optra', 'Sail',
       'Spark', 'Tavera'], dtype=object)

##### 18. Jaguar

In [66]:
df[df['Brand'] == 'Jaguar']['Model'].unique()

array(['F', 'Xe', 'Xf', 'Xj'], dtype=object)

In [67]:
df.replace('Xe', 'XE', inplace=True)
df.replace('Xf', 'XF', inplace=True)
df.replace('Xj', 'XJ', inplace=True)

In [68]:
df[df['Brand'] == 'Jaguar']['Model'].unique()

array(['F', 'XE', 'XF', 'XJ'], dtype=object)

##### 19. Fiat

In [69]:
df[df['Brand'] == 'Fiat']['Model'].unique()

array(['Avventura', 'Grande', 'Linea', 'Petra', 'Punto', 'Siena'],
      dtype=object)

##### 20. Porsche

In [70]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['Boxster', 'Cayenne', 'Cayman', 'Panamera'], dtype=object)

In [71]:
df.replace('Boxster', '718 Boxster', inplace=True)

In [72]:
df[df['Brand'] == 'Porsche']['Model'].unique()

array(['718 Boxster', 'Cayenne', 'Cayman', 'Panamera'], dtype=object)

##### 21. Nissan

In [73]:
df[df['Brand'] == 'Nissan']['Model'].unique()

array(['Evalia', 'Micra', 'Sunny', 'Teana', 'Terrano', 'X-Trail'],
      dtype=object)

##### 22. Force Motors

In [74]:
df.replace('Force', 'Force Motors', inplace=True)

In [75]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['One'], dtype=object)

In [76]:
df.replace('One', 'Force One', inplace=True)

In [77]:
df[df['Brand'] == 'Force Motors']['Model'].unique()

array(['Force One'], dtype=object)

##### 23. Mitsubishi

In [78]:
df[df['Brand'] == 'Mitsubishi']['Model'].unique()

array(['Cedia', 'Lancer', 'Montero', 'Outlander', 'Pajero'], dtype=object)

##### 24. Isuzu

In [79]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['D-Max', 'Mux'], dtype=object)

In [80]:
df.replace('Mux', 'MUX', inplace=True)

In [81]:
df[df['Brand'] == 'Isuzu']['Model'].unique()

array(['D-Max', 'MUX'], dtype=object)

##### 25. Datsun

In [82]:
df[df['Brand'] == 'Datsun']['Model'].unique()

array(['Go', 'Redi', 'Redi-Go'], dtype=object)

In [83]:
df.replace('Redi-Go', 'Redi GO', inplace=True)
df.replace('Redi', 'Redi GO', inplace=True)

In [84]:
df[df['Brand'] == 'Datsun']['Model'].unique()

array(['Go', 'Redi GO'], dtype=object)

##### 26. Ambassador

In [85]:
df[df['Brand'] == 'Ambassador']['Model'].unique()

array(['Classic'], dtype=object)

##### 27. Bentley

In [86]:
df[df['Brand'] == 'Bentley']['Model'].unique()

array(['Continental'], dtype=object)

##### 28. Smart

In [87]:
df[df['Brand'] == 'Smart']['Model'].unique()

array(['Fortwo'], dtype=object)

##### 29. Jeep

In [88]:
df[df['Brand'] == 'Jeep']['Model'].unique()

array(['Compass'], dtype=object)

##### 30. Lamborghini

In [89]:
df[df['Brand'] == 'Lamborghini']['Model'].unique()

array(['Gallardo'], dtype=object)

##### 31. Land Rover

In [90]:
df[df['Brand'] == 'Land']['Model'].unique()

array(['Rover'], dtype=object)

In [91]:
df.replace('Rover', 'Range Rover', inplace=True)

### Saving the cleaned dataset for further use

In [92]:
df.shape

(5907, 8)

In [93]:
df.to_csv('../Dataset/Used_Car_Df2.csv', index=False)